{% extends "mainsite/base.html" %}
{% load static staticfiles widget_tweaks %}

{% block content %}
    <div class="content-wrapper">
    <!-- Case Items -->

    <section class="medium-padding120">
        <div class="container">
            <div class="row mb60">
                <div class="crumina-module crumina-module-img-bottom">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">Portfolio</h6>
                            <h2 class="heading-title">We mix the beautiful with the usable. Have a look at our work!</h2>
                            <a href="{% url 'mainsite:homepage' %}#pricing-plan" class="btn btn--green btn--with-shadow  mb30">
                                Get Started Now!
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="case-item-wrap">
                <div class="row" id="items-grid">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="crumina-module crumina-case-item" data-mh="case-item">
                            <a href="{% static 'webtweaker_assets/img/Thumbs/KATHY1.png' %}" class="case-item__thumb js-zoom-image">
                                <img src="{% static 'webtweaker_assets/img/Thumbs/KATHY1.png' %}" alt="case">
                            </a>

                            <div class="square-colored bg-mg-orange-light"></div>
                            <div class="case-item-content">
                                <h5 class="title">Kathy's Auto Repair Shop</h5>
                                <a href="https://kathysautorepairshop.com/" class="more-arrow white">
                                    <span>View Case</span>
                                    <div class="btn-next">
                                        <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                        <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="crumina-module crumina-case-item" data-mh="case-item">
                            <a href="{% static 'webtweaker_assets/img/Thumbs/BENI1.png' %}" class="case-item__thumb js-zoom-image">
                                <img src="{% static 'webtweaker_assets/img/Thumbs/BENI1.png' %}" alt="case">
                            </a>

                            <div class="square-colored bg-mg-yellow"></div>
                            <div class="case-item-content">
                                <h5 class="title">JG FINAL TOUCH AUTO COLLISION</h5>
                                <a href="https://www.jgfinaltouch.com/" class="more-arrow white">
                                    <span>View Case</span>
                                    <div class="btn-next">
                                        <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                        <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="crumina-module crumina-case-item" data-mh="case-item">
                            <a href="{% static 'webtweaker_assets/img/Thumbs/abc1.png' %}" class="case-item__thumb js-zoom-image">
                                <img src="{% static 'webtweaker_assets/img/Thumbs/abc1.png' %}" alt="case">
                            </a>

                            <div class="square-colored bg-mg-blue-light"></div>
                            <div class="case-item-content">
                                <h5 class="title">ABC Wireless</h5>
                                <a href="https://abcwirelessny.com/" class="more-arrow white">
                                    <span>View Case</span>
                                    <div class="btn-next">
                                        <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                        <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="crumina-module crumina-case-item" data-mh="case-item">
                            <a href="{% static 'webtweaker_assets/img/Thumbs/physio.png' %}" class="case-item__thumb js-zoom-image">
                                <img src="{% static 'webtweaker_assets/img/Thumbs/physio.png' %}" alt="case">
                            </a>

                            <div class="square-colored bg-mg-green"></div>
                            <div class="case-item-content">
                                <h5 class="title">Jackson Heights Physical Therapy</h5>
                                <a href="#" class="more-arrow white">
                                    <span>View Case</span>
                                    <div class="btn-next">
                                        <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                        <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="crumina-module crumina-case-item" data-mh="case-item">
                            <a href="{% static 'webtweaker_assets/img/Thumbs/service.png' %}" class="case-item__thumb js-zoom-image">
                                <img src="{% static 'webtweaker_assets/img/Thumbs/service.png' %}" alt="case">
                            </a>

                            <div class="square-colored bg-product-violet"></div>
                            <div class="case-item-content">
                                <h5 class="title">Service World NYC</h5>
                                <a href="https://www.serviceworldnyc.com/" class="more-arrow white">
                                    <span>View Case</span>
                                    <div class="btn-next">
                                        <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1"><use xlink:href="#utouch-icon-arrow-right-1"></use></svg>
                                        <svg class="utouch-icon utouch-icon-arrow-right1"><use xlink:href="#utouch-icon-arrow-right1"></use></svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="align-center">
                        <a href="#" class="btn btn-border btn--with-shadow btn-more c-primary" id="load-more-button" data-load-link="items-to-load.html" data-container="items-grid">Load More</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ... end Case Items -->
</div>



{% endblock %}