{% extends "mainsite/base.html" %}
{% load static staticfiles %}

{% block head_title %}Signup {% endblock %}
{% load staticfiles %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% load static staticfiles %}
<title>{% block title %}Log In{% endblock %}</title>
{% block description %}
    <meta name="description" content="Description">{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="medium-padding100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 ">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-title align-center">Login to WebTweaker</h6>
                            <p class="info-box-text" style="display: none">
                                WebTweaker recognizes your need to present your business in a unique way, and give you a
                                custom branded solution to bring you more business. Your customers get the details they
                                need in an engaging and interactive way. In short, we will take full care of your online
                                business platform.
                            </p>
                            <form class="contact-form" method="post" style="margin-bottom: 20px" novalidate>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {% csrf_token %}
                                        {% for hidden_field in form.hidden_fields %}
                                            {{ hidden_field }}
                                        {% endfor %}
                                        {% for field in form.visible_fields %}
                                            {% if form.is_bound %}
                                                {% if field.errors and field.name != "remember" %}
                                                    {% render_field field class="inputinvalid" %}
                                                    {% for error in field.errors %}
                                                        <span class="text-sm-left ">{{ error }}</span>
                                                    {% endfor %}
                                                {% else %}
                                                    {% if field.name != "remember" %}
                                                        {% render_field field required="" %}
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                {% if field.name != "remember" %}
                                                    {% render_field field required="" %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.non_field_errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for error in form.non_field_errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <button class="btn btn--green btn--with-shadow full-width" type="submit">
                                            Login Now
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <a class="btn btn--orange btn--with-shadow full-width" href="{% url 'account_signup' %}">Do you have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block custom_js %}
    <script>
        $('input').attr('required', '');
    </script>
{% endblock %}
