{% extends "account/base.html" %}
{% load static staticfiles %}
{% load  widget_tweaks %}
{% block title %}Log In{% endblock %}

{% block container %}

    <header>
        <!--Intro Section-->
        <section class="view">
            <div class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-0">

                            <!--Form with header-->
                            <div class="card wow fadeIn" data-wow-delay="0.3s">
                                <div class="card-body">

                                    <!--Header-->
                                    <div class="form-header mt-0 purple-gradient1 align-items-center justify-content-center">
                                        {#                                    <h3><i class="fa fa-user mt-2 mb-2"></i> Log in:</h3>#}
                                        <img src="{% static 'admin_site/img/logo.svg' %} " class="logo-admin m-auto">
                                    </div>

                                    <!--Body-->
                                    <form method="post" action="{% url 'account_login' %}" novalidate>
                                        <p class="h5 text-center mb-4">Reset Your Password</p>
                                        {% csrf_token %}
                                        {% for hidden_field in form.hidden_fields %}
                                            {{ hidden_field }}
                                        {% endfor %}
                                        {% if form.non_field_errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for error in form.non_field_errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                            <div class="mt-5"></div>
                                        {% endif %}
                                        {% for field in form.visible_fields %}
                                            {% if form.is_bound %}
                                                {% if field.errors %}
                                                    <div class="md-form has-error">
                                                        {% render_field field class="form-control" %}
                                                        {% for error in field.errors %}
                                                            <span class="text-danger help-block">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <div class="md-form">
                                                        {% render_field field class="form-control" %}

                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div class="md-form">
                                                    {% render_field field class="form-control" %}

                                                </div>
                                            {% endif %}
                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                        {% endfor %}

                                        {% if redirect_field_value %}
                                            <div class="row">
                                                <input type="hidden" name="{{ redirect_field_name }}"
                                                       value="{{ redirect_field_value }}"/>
                                            </div><!--end .row -->
                                        {% endif %}
                                        <div class="text-center mt-4">
                                            <input type="submit" class="btn btn-primary login waves-effect waves-light"
                                                   value="Reset">
                                        </div><!--end .col -->

                                        <br>
                                    </form>

                                </div>
                            </div>
                            <!--/Form with header-->

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>
{% endblock %}
