{% load staticfiles static widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex, nofollow">
    {% block description %} {% endblock %}
    <!-- Site Title- -->
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'webtweaker_assets/css/theme-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webtweaker_assets/css/blocks.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webtweaker_assets/css/widgets.css' %}">


    <!--External fonts-->

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">

    <!-- Styles for Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'webtweaker_assets/css/swiper.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'webtweaker_assets/img/favicon.png' %}">

    <!--Styles for RTL-->

    <!--<link rel="stylesheet" type="text/css" href="css/rtl.css">-->

    <style>
        .underline .info-box-title {
            border-bottom: 1px dotted;
            cursor: help;
            border-color: #4b5d73;
        }
    </style>
</head>
<body class="crumina-grid">

<!-- Preloader -->

<div id="hellopreloader"
     style="display: block; position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 100%;background: #66b5ff url({% static 'webtweaker_assets/svg/preload.svg' %}) center center no-repeat;background-size: 41px;opacity: 1;"></div>

<!-- ... end Preloader -->


<!-- Header -->

<header class="header header--menu-rounded header--blue-lighteen" id="site-header">

    <div class="header-lines-decoration">
        <span class="bg-mg-green"></span>
        <span class="bg-mg-green-light"></span>
        <span class="bg-mg-blue"></span>
        <span class="bg-mg-blue-light"></span>
        <span class="bg-mg-yellow"></span>
        <span class="bg-mg-orange-light"></span>

        <span class="bg-mg-vinndo-light"></span>
    </div>

    <div class="container">

        <a href="#" id="top-bar-js" class="top-bar-link">
            <svg class="utouch-icon utouch-icon-arrow-top">
                <use xlink:href="#utouch-icon-arrow-top"></use>
            </svg>
        </a>
        <div class="header-content-wrapper">

            <div class="site-logo">
                <a href="{% url 'mainsite:homepage' %}" class="full-block"></a>
                <img src="{% static 'webtweaker_assets/img/svg/webtweaker.svg' %}" alt="webtweaker-logo" class="">
            </div>

            <nav id="primary-menu" class="primary-menu">

                <!-- menu-icon-wrapper -->

                <a id="menu-icon-trigger" class="menu-icon-trigger showhide">
                    <span class="mob-menu--title"><i class="fa fa-bars fa-2x c-border" aria-hidden="true"></i></span>
                    <span id="menu-icon-wrapper" class="menu-icon-wrapper" style="display: none;">
						<svg width="1000px" height="1000px">
							<path id="pathD"
                                  d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
							<path id="pathE" d="M 300 500 L 700 500"></path>
							<path id="pathF"
                                  d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
						</svg>
					</span>
                </a>

                <ul class="primary-menu-menu">
                    <li class="menu-item-has-children">
                        <a href="{% url 'mainsite:homepage' %}">Home</a>
                    </li>
                    <li class="">
                        <a href="{% url 'mainsite:homepage' %}#how">How WE Work</a>
                    </li>
                    <li class="">
                        <a href="{% url 'mainsite:homepage' %}#pricing-plan">Pricing</a>
                    </li>
                    <li class="">
                        <a href="{% url 'mainsite:homepage' %}#site-footer">Contacts</a>
                    </li>
                    {% if user.is_authenticated == False %}
                        <li class="">
                            <a href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="">
                            <a href="{% url 'account_login' %}">Log In</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="">
                            <a href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    {% endif %}
                </ul>

            </nav>

        </div>

    </div>

</header>

<div class="header-spacer"></div>

<!-- ... End Header -->

{% block content %}

{% endblock %}


<!-- Footer -->
<footer class="footer" id="site-footer">
    <div class="header-lines-decoration">
        <span class="bg-secondary-color"></span>
        <span class="bg-mg-green-light"></span>
        <span class="bg-mg-blue"></span>
        <span class="bg-mg-blue-light"></span>
        <span class="bg-mg-yellow"></span>
        <span class="bg-mg-orange-light"></span>
        <span class="bg-mg-vinndo-light"></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="widget w-info">
                    <div class="site-logo">
                        <a href="index.html" class="full-block"></a>
                        <div class="logo-text">
                            <div class="logo-title"><img src="{% static 'webtweaker_assets/img/svg/webtweaker.svg' %}" alt="webtweaker-logo" class="">
                            </div>

                        </div>
                    </div>

                    <p>Welcome to Web Tweaker!
                        Empowering Technology to Your Fingertips!
                        we will take full care of your online business platform.
                    </p>

                    <a href="#" class="learn-more" style="display: none">Know more about MAZEGEEK</a>
                </div>

            </div>

            <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="widget w-list">

                    <h5 class="widget-title">Useful Links</h5>

                    <ul class="list list--primary">
                        <li>
                            <a href="{% url 'mainsite:homepage' %}">Home</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>

                        <li>
                            <a href="{% url 'mainsite:homepage' %}#how">How We Work</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>

                        <li>
                            <a href="{% url 'mainsite:homepage'%}#services">Our Services</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>

                        <li>
                            <a href="{% url 'mainsite:homepage' %}#pricing-plan">Pricing</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>

                        <li>
                            <a href="{% url 'mainsite:homepage' %}#site-footer">Contacts</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}">Login</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                        <li>
                            <a href="{% url 'account_signup' %}">Register</a>
                            <svg class="utouch-icon utouch-icon-arrow-right">
                                <use xlink:href="#utouch-icon-arrow-right"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="widget w-contacts">

                    <h5 class="widget-title">Contact with us</h5>
                    <div class="contact-item display-flex">
                        <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                            <use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                        </svg>
                        <span class="info">845 402 7707</span>
                    </div>
                    <div class="contact-item display-flex">
                        <svg class="utouch-icon utouch-icon-message-closed-envelope-1">
                            <use xlink:href="#utouch-icon-message-closed-envelope-1"></use>
                        </svg>
                        <span class="info">support@webtweaker.com</span>
                    </div>

                    <a href="#" class="btn btn--green full-width btn--with-shadow js-message-popup cd-nav-trigger">
                        Send a Message
                    </a>
                </div>

                <div class="widget w-follow">
                    <ul>
                        <li>Follow Us:</li>
                        <li>
                            <a href="#">
                                <svg class="utouch-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                                     fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
                                     stroke-miterlimit="1.414">
                                    <path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0"
                                          fill-rule="nonzero"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="utouch-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                                     fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
                                     stroke-miterlimit="1.414">
                                    <path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z"
                                          fill-rule="nonzero"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="utouch-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                                     fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
                                     stroke-miterlimit="1.414">
                                    <path d="M8.16 6.857V9.6h4.537c-.183 1.177-1.37 3.45-4.537 3.45-2.73 0-4.96-2.26-4.96-5.05s2.23-5.05 4.96-5.05c1.554 0 2.594.66 3.19 1.233l2.17-2.092C12.126.79 10.32 0 8.16 0c-4.423 0-8 3.577-8 8s3.577 8 8 8c4.617 0 7.68-3.246 7.68-7.817 0-.526-.057-.926-.126-1.326H8.16z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="sub-footer">
        <a class="back-to-top" href="#">
            <svg class="utouch-icon utouch-icon-arrow-top">
                <use xlink:href="#utouch-icon-arrow-top"></use>
            </svg>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>
                    Copyright © 2017 <a class="sub-footer__link">WebTweaker</a>
                </span>

                    <span>Designed & developed by <a href="#">MAZEGEEK Inc.</a>

                </span>
                </div>
            </div>
        </div>
    </div>

</footer>

<!-- End Footer -->


<!-- Send Message Popup -->

<div class="window-popup message-popup">
    <a href="#" class="popup-close js-popup-close cd-nav-trigger">
        <svg class="utouch-icon utouch-icon-cancel-1">
            <use xlink:href="#utouch-icon-cancel-1"></use>
        </svg>
    </a>

    <div class="send-message-popup">
        <h5>Send a Message</h5>
        <p>Let us know about your business and query!</p>
        <form class="contact-form" method="post" action="">
            <div class="with-icon">
                <input name="name" placeholder="Your Name" type="text" required="required">
                <svg class="utouch-icon utouch-icon-user">
                    <use xlink:href="#utouch-icon-user"></use>
                </svg>
            </div>

            <div class="with-icon">
                <input name="email" placeholder="Email Adress" type="text" required="required">
                <svg class="utouch-icon utouch-icon-message-closed-envelope-1">
                    <use xlink:href="#utouch-icon-message-closed-envelope-1"></use>
                </svg>
            </div>

            <div class="with-icon">
                <input class="with-icon" name="phone" placeholder="Phone Number" type="tel" required="required">
                <svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys">
                    <use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use>
                </svg>
            </div>

            <div class="with-icon">
                <input class="with-icon" name="subject" placeholder="Subject" type="text" required="required">
                <svg class="utouch-icon utouch-icon-icon-1">
                    <use xlink:href="#utouch-icon-icon-1"></use>
                </svg>
            </div>

            <div class="with-icon">
                <textarea name="message" required="" placeholder="Your Message" style="height: 180px;"></textarea>
                <svg class="utouch-icon utouch-icon-edit">
                    <use xlink:href="#utouch-icon-edit"></use>
                </svg>
            </div>

            <button class="btn btn--green btn--with-shadow full-width">
                Send a Message
            </button>

        </form>
    </div>
</div>

<!-- Send Message Popup -->


<!-- Search Popup -->

<div class="search-popup search--dark">
    <a href="#" class="popup-close js-popup-close cd-nav-trigger">
        <svg class="utouch-icon utouch-icon-cancel-1">
            <use xlink:href="#utouch-icon-cancel-1"></use>
        </svg>
    </a>

    <div class="search-full-screen">

        <div class="search-standard">

            <form id="search-header-1" name="form-search-header" method="post">
                <div class="typeahead__container">
                    <div class="typeahead__field">

						<span class="typeahead__query">
							<input class="js-typeahead" name="utouch_posts[query]"
                                   placeholder="What are you looking for?" autocomplete="off" type="search" autofocus>
						</span>
                        <button type="submit" class="form-icon">
                            <svg class="utouch-icon utouch-icon-search">
                                <use xlink:href="#utouch-icon-search"></use>
                            </svg>
                        </button>
                        <span class="close js-popup-clear-input form-icon">
							<svg class="utouch-icon utouch-icon-cancel-1"><use xlink:href="#utouch-icon-cancel-1"></use></svg>
						</span>

                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


<!-- ... end Search Popup -->


<!-- Used SVG-icons -->

<svg xmlns="http://www.w3.org/2000/svg"
     style="display: block; width: 1px; height: 1px; visibility: hidden; opacity: 0;">

    <symbol id="utouch-icon-calendar-1" viewBox="0 0 512 512">
        <path d="m462 77l-46 0 0-18c0-9-7-17-16-17-9 0-17 8-17 17l0 18-254 0 0-18c0-9-8-17-17-17-9 0-16 8-16 17l0 18-46 0c-28 0-50 23-50 50 0 4 0 323 0 326 0 9 7 17 17 17l478 0c10 0 17-8 17-17 0-3 0-322 0-326 0-27-22-50-50-50z m17 359l-446 0 0-229 446 0z m0-262l-446 0 0-47c0-9 8-16 17-16l46 0 0 5c0 9 7 16 16 16 9 0 17-7 17-16l0-5 254 0 0 5c0 9 8 16 17 16 9 0 16-7 16-16l0-5 46 0c9 0 17 7 17 16z m-355 66c-17 0-30 14-30 30 0 17 13 30 30 30 16 0 30-13 30-30 0-16-14-30-30-30z m132 0c-17 0-30 14-30 30 0 17 13 30 30 30 17 0 30-13 30-30 0-16-13-30-30-30z m132 0c-16 0-30 14-30 30 0 17 14 30 30 30 17 0 30-13 30-30 0-16-13-30-30-30z m-264 103c-17 0-30 14-30 31 0 16 13 30 30 30 16 0 30-14 30-30 0-17-14-31-30-31z m132 0c-17 0-30 14-30 31 0 16 13 30 30 30 17 0 30-14 30-30 0-17-13-31-30-31z m132 0c-16 0-30 14-30 31 0 16 14 30 30 30 17 0 30-14 30-30 0-17-13-31-30-31z"/>
    </symbol>

    <symbol id="utouch-icon-calendar-2" viewBox="0 0 512 512">
        <path d="m462 77l-46 0 0-18c0-9-7-17-16-17-9 0-17 8-17 17l0 18-254 0 0-18c0-9-8-17-17-17-9 0-16 8-16 17l0 18-46 0c-28 0-50 23-50 50 0 4 0 323 0 326 0 9 7 17 17 17l478 0c10 0 17-8 17-17 0-3 0-322 0-326 0-27-22-50-50-50z m17 359l-446 0 0-229 446 0z m0-262l-446 0 0-47c0-9 8-16 17-16l46 0 0 5c0 9 7 16 16 16 9 0 17-7 17-16l0-5 254 0 0 5c0 9 8 16 17 16 9 0 16-7 16-16l0-5 46 0c9 0 17 7 17 16z m-329 66l-53 0c-9 0-17 7-17 17 0 9 8 16 17 16l53 0c10 0 17-7 17-16 0-10-7-17-17-17z m133 0l-54 0c-9 0-16 7-16 17 0 9 7 16 16 16l54 0c9 0 16-7 16-16 0-10-7-17-16-17z m134 0l-53 0c-9 0-17 7-17 17 0 9 8 16 17 16l53 0c9 0 17-7 17-16 0-10-8-17-17-17z m-267 65l-53 0c-9 0-17 8-17 17 0 9 8 17 17 17l53 0c10 0 17-8 17-17 0-9-7-17-17-17z m133 0l-54 0c-9 0-16 8-16 17 0 9 7 17 16 17l54 0c9 0 16-8 16-17 0-9-7-17-16-17z m134 0l-53 0c-9 0-17 8-17 17 0 9 8 17 17 17l53 0c9 0 17-8 17-17 0-9-8-17-17-17z m-267 66l-53 0c-9 0-17 7-17 16 0 10 8 17 17 17l53 0c10 0 17-7 17-17 0-9-7-16-17-16z m133 0l-54 0c-9 0-16 7-16 16 0 10 7 17 16 17l54 0c9 0 16-7 16-17 0-9-7-16-16-16z m134 0l-53 0c-9 0-17 7-17 16 0 10 8 17 17 17l53 0c9 0 17-7 17-17 0-9-8-16-17-16z"/>
    </symbol>

    <symbol id="utouch-icon-cancel-1" viewBox="0 0 512 512">
        <path d="m293 256l211-209c10-10 10-26 0-36-10-10-27-10-37 0l-210 209-212-212c-10-10-27-10-37 0-10 10-10 26 0 36l212 212-212 212c-11 10-11 26 0 36 10 10 26 10 36 0l213-211 211 211c10 10 26 10 36 0 11-10 11-26 0-36z"/>
    </symbol>

    <symbol id="utouch-icon-checked" viewBox="0 0 512 512">
        <path d="m450 240c-1-8-7-13-15-13-7 1-13 7-13 15 1 4 1 9 1 14 0 109-89 198-198 198-109 0-198-89-198-198 0-109 89-198 198-198 43 0 84 14 119 40 6 4 14 3 19-3 4-6 3-15-3-19-39-30-86-45-135-45-124 0-225 101-225 225 0 124 101 225 225 225 124 0 225-101 225-225 0-5 0-11 0-16z m46-178c-20-21-54-21-75 0l-197 197-70-70c-21-21-55-21-76 0-20 21-20 55 0 75l121 121c7 7 16 10 25 10 9 0 18-3 25-10l247-248c21-21 21-54 0-75z m-19 56l-248 247c-3 4-8 4-11 0l-120-120c-10-10-10-27 0-37 5-5 12-7 18-7 7 0 14 2 19 7l71 72c5 5 11 7 18 7 6 0 13-2 17-7l199-199c10-10 27-10 37 0 10 10 10 27 0 37z"/>
    </symbol>

    <symbol id="utouch-icon-clock-1" viewBox="0 0 512 512">
        <path d="m256 0c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m0 458c-111 0-202-91-202-202 0-111 91-202 202-202 111 0 202 91 202 202 0 111-91 202-202 202z m137-210l-100 0c-3-6-8-11-14-14l0-121c0-12-10-23-23-23-13 0-23 11-23 23l0 121c-12 7-21 21-21 37 0 24 20 44 44 44 16 0 30-9 37-21l100 0c13 0 23-10 23-23 0-13-10-23-23-23z"/>
    </symbol>

    <symbol id="utouch-icon-dot-arrow" viewBox="0 0 512 512">
        <path d="m52 26c0 14-12 25-26 25-14 0-25-11-25-25 0-15 11-26 25-26 14 0 26 11 26 26z m76 77c0 14-12 25-26 25-14 0-25-11-25-25 0-14 11-26 25-26 14 0 26 12 26 26z m0-77c0 14-12 25-26 25-14 0-25-11-25-25 0-15 11-26 25-26 14 0 26 11 26 26z m77 77c0 14-12 25-26 25-14 0-25-11-25-25 0-14 11-26 25-26 14 0 26 12 26 26z m0 76c0 14-12 25-26 25-14 0-25-11-25-25 0-14 11-26 25-26 14 0 26 12 26 26z m0-153c0 14-12 25-26 25-14 0-25-11-25-25 0-15 11-26 25-26 14 0 26 11 26 26z m76 77c0 14-12 25-26 25-14 0-25-11-25-25 0-14 11-26 25-26 14 0 26 12 26 26z m0 76c0 14-12 25-26 25-14 0-25-11-25-25 0-14 11-26 25-26 14 0 26 12 26 26z m0-153c0 14-12 25-26 25-14 0-25-11-25-25 0-15 11-26 25-26 14 0 26 11 26 26z m75 77c0 14-11 25-25 25-14 0-26-11-26-25 0-14 12-26 26-26 14 0 25 12 25 26z m0 76c0 14-11 25-25 25-14 0-26-11-26-25 0-14 12-26 26-26 14 0 25 12 25 26z m-75 75c0 14-12 26-26 26-14 0-25-12-25-26 0-14 11-25 25-25 14 0 26 11 26 25z m75 0c0 14-11 26-25 26-14 0-26-12-26-26 0-14 12-25 26-25 14 0 25 11 25 25z m-151 78c0 14-12 25-26 25-14 0-25-11-25-25 0-14 11-26 25-26 14 0 26 12 26 26z m76 0c0 14-12 25-26 25-14 0-25-11-25-25 0-14 11-26 25-26 14 0 26 12 26 26z m75 0c0 14-11 25-25 25-14 0-26-11-26-25 0-14 12-26 26-26 14 0 25 12 25 26z m-228 76c0 14-12 25-26 25-14 0-25-11-25-25 0-15 11-26 25-26 14 0 26 11 26 26z m77 0c0 14-12 25-26 25-14 0-25-11-25-25 0-15 11-26 25-26 14 0 26 11 26 26z m76 0c0 14-12 25-26 25-14 0-25-11-25-25 0-15 11-26 25-26 14 0 26 11 26 26z m75 0c0 14-11 25-25 25-14 0-26-11-26-25 0-15 12-26 26-26 14 0 25 11 25 26z m79-229c0 14-11 25-25 25-14 0-26-11-26-25 0-14 12-26 26-26 14 0 25 12 25 26z m0 75c0 14-11 26-25 26-14 0-26-12-26-26 0-14 12-25 26-25 14 0 25 11 25 25z m0 78c0 14-11 25-25 25-14 0-26-11-26-25 0-14 12-26 26-26 14 0 25 12 25 26z m-383 154c0 15-12 26-26 26-14 0-25-11-25-26 0-14 11-25 25-25 14 0 26 11 26 25z m76 0c0 15-12 26-26 26-14 0-25-11-25-26 0-14 11-25 25-25 14 0 26 11 26 25z m77 0c0 15-12 26-26 26-14 0-25-11-25-26 0-14 11-25 25-25 14 0 26 11 26 25z m76 0c0 15-12 26-26 26-14 0-25-11-25-26 0-14 11-25 25-25 14 0 26 11 26 25z m230-232c0 14-11 26-25 26-14 0-26-12-26-26 0-14 12-25 26-25 14 0 25 11 25 25z"/>
    </symbol>

    <symbol id="utouch-icon-edit" viewBox="0 0 512 512">
        <path d="m482 64l-34-34c-62-56-126-20-146 0l-279 280c-9 6-9 17-9 19l-14 160c2 24 23 23 23 23l165-12c6-1 10-3 13-7l281-283c40-40 40-106 0-146z m-290 378c-11-20-24-38-37-53l210-213 46 46z m99-339l44 43-211 212c-20-16-38-28-53-36z m-237 258c28 16 71 47 99 98l-108 9z m398-179l-11 11-120-121 11-11c12-11 52-34 86 0l34 34c23 25 23 63 0 87z"/>
    </symbol>

    <symbol id="utouch-icon-expand" viewBox="0 0 512 512">
        <path d="m146 270l94 95c7 8 22 9 31 0l94-95c9-9 9-22 0-30l-94-95c-9-9-22-9-31 0l-94 95c-9 8-9 21 0 30z m109-78l65 64-65 64-64-64z m120 125l-58 58c-8 8-8 21 0 30 5 4 17 12 31 0l57-58c9-8 9-21 0-30-8-9-21-9-30 0z m-239-123l58-58c8-8 8-21 0-30-9-9-22-9-31 0l-58 58c-8 8-8 22 0 30 10 9 23 8 31 0z m27 211c13 12 27 4 30 0 9-9 9-22 0-30l-57-58c-9-9-22-9-31 0-8 9-8 22 0 30z m212-211c13 12 26 4 30 0 9-9 9-22 0-30l-57-58c-9-9-22-9-31 0-8 9-8 22 0 30z m115-193l-468 0c-12 0-22 9-22 21l0 468c0 12 10 21 22 21l467 0c12 0 22-9 23-20l0-469c0-12-10-21-22-21z m-22 468l-426 0 0-426 426 0z"/>
    </symbol>

    <symbol id="utouch-icon-flag-1" viewBox="0 0 512 512">
        <path d="m464 195l-93-81 93-81c6-5 9-13 6-21-3-7-10-12-18-12l-299 0c-10 0-19 8-19 19l0 356-19 0c-41 0-74 33-74 74l0 44c0 11 8 19 19 19l189 0c10 0 18-8 18-19 0-10-8-19-18-19l-170 0 0-25c0-20 16-36 36-36l76 0c13 0 26 7 32 19 5 9 17 12 26 7 9-5 12-17 7-26-13-23-38-38-65-38l-19 0 0-337 230 0-72 62c-5 4-7 9-7 14 0 6 3 11 7 14l72 63-168 0c-11 0-19 8-19 19 0 10 8 18 19 18l218 0c8 0 15-5 18-12 3-7 0-16-6-21z"/>
    </symbol>

    <symbol id="utouch-icon-home-icon-silhouette" viewBox="0 0 512 512">
        <path d="m504 233l-78-77 0-90c0-16-13-29-29-29-16 0-30 13-30 29l0 31-57-58c-29-29-79-28-107 0l-194 194c-12 12-12 30 0 42 11 11 30 11 41 0l194-194c7-7 18-7 24 0l194 194c6 6 14 8 21 8 8 0 15-2 21-8 11-12 11-30 0-42z m-238-97c-5-5-14-5-20 0l-171 171c-2 3-4 6-4 10l0 125c0 29 24 53 53 53l84 0 0-131 96 0 0 131 84 0c30 0 53-24 53-53l0-125c0-4-1-7-4-10z"/>
    </symbol>

    <symbol id="utouch-icon-icon252" viewBox="0 0 512 512">
        <path d="m386 0l-292 291 108 0-83 221 299-291-108 0z"/>
    </symbol>

    <symbol id="utouch-icon-icon-1" viewBox="0 0 512 512">
        <path d="m510 347c5 9 0 21-10 26l-216 98c-3 1-6 2-8 2-2 0-4 0-6-1l-256-79c-10-3-16-14-13-24 3-11 14-17 25-13l248 76 210-95c10-5 22 0 26 10z m-236 6l-248-76c-11-3-22 2-25 13-3 10 3 21 13 24l256 79c2 1 4 1 6 1 2 0 5-1 8-2l216-98c10-5 15-16 10-26-4-10-16-15-26-10z m-274-135c0-8 4-16 12-19l144-61c28-12 42-27 42-79 0-6 2-12 7-16 5-3 11-5 17-3l255 63c9 2 15 10 15 19l0 3c0 58 0 96-72 126-47 21-135 62-136 62-3 2-5 2-8 2-2 0-4 0-6-1l-256-78c-8-3-14-10-14-18z m77-4l197 61c22-11 90-43 131-60 44-18 47-32 47-78l-216-53c-4 40-19 71-65 90z"/>
    </symbol>

    <symbol id="utouch-icon-letter" viewBox="0 0 512 512">
        <path d="m501 158l-231-154c-8-5-20-5-28 0l-231 154c-7 5-11 13-11 21l0 307c0 15 11 26 26 26l460 0c15 0 26-11 26-26l0-307c0-8-4-16-11-21z m-245-102l185 123-185 123-185-123z m205 405l-410 0 0-233 191 126c4 3 9 4 14 4 5 0 10-1 14-4l191-126z"/>
    </symbol>

    <symbol id="utouch-icon-link-chain" viewBox="0 0 512 512">
        <path d="m431 14c-8-9-19-14-31-14-12 0-24 5-32 14l-135 134c-8 9-13 20-13 32 0 12 5 23 13 32l20 20-21 21-20-20c-9-8-20-13-32-13 0 0 0 0 0 0-12 0-23 5-32 13l-134 135c-9 8-14 20-14 32 0 12 5 23 14 31l66 67c9 8 20 13 32 13 12 0 23-5 32-13l134-135c9-8 14-20 14-32 0-12-5-23-14-31l-20-21 21-21 21 20c8 9 19 14 31 14 12 0 24-5 32-14l135-134c8-9 13-20 13-32 0-12-5-23-13-32z m-179 312c2 2 3 4 3 5 0 2-1 4-3 6l-134 135c-2 2-5 2-6 2-1 0-4 0-6-2l-66-67c-2-2-3-4-3-5 0-2 1-4 3-6l135-135c2-2 4-2 5-2 1 0 4 0 6 2l20 20-36 37c-8 7-8 19 0 26 3 4 8 5 13 5 4 0 9-1 13-5l36-36z m220-208l-135 134c-2 2-4 3-6 3-1 0-3-1-5-3l-20-20 38-38c7-7 7-19 0-26-7-8-19-8-26 0l-39 38-20-20c-2-2-2-5-2-6 0-1 0-3 2-5l135-135c2-2 4-3 6-3 1 0 3 1 5 3l67 66c2 2 2 5 2 6 0 1 0 4-2 6z m-360 394c-12 0-24-5-32-14l-67-66c-8-9-13-20-13-32 0-12 5-24 13-32l135-135c9-9 20-13 32-13 12 0 24 4 32 13l20 20 21-21-20-20c-9-8-13-20-13-32 0-12 4-23 13-32l135-135c8-8 20-13 32-13 12 0 23 5 32 13l66 67c9 8 14 20 14 32 0 12-5 23-14 32l-135 135c-8 8-19 13-32 13-12 0-23-5-32-13l-20-20-20 20 20 20c8 9 13 20 13 32 0 13-5 24-13 32l-135 135c-9 9-20 14-32 14z m68-292c-12 0-23 5-31 13l-135 135c-9 9-13 20-13 32 0 12 4 23 13 31l67 67c8 8 19 13 31 13 12 0 23-5 31-13l135-135c9-9 13-20 13-32 0-11-4-23-13-31l-20-21 21-21 21 20c8 9 20 13 31 13 12 0 23-4 32-13l135-135c8-8 13-19 13-31 0-12-5-23-13-31l-67-67c-8-9-19-13-31-13-12 0-23 4-32 13l-135 135c-8 8-13 19-13 31 0 12 5 23 13 32l21 20-22 22-20-21c-9-8-20-13-32-13z m-68 255c-1 0-4-1-6-3l-67-66c-2-3-2-5-2-6 0-2 0-4 2-6l135-135c2-2 5-3 6-3 1 0 4 1 6 3l21 20-37 37c-7 7-7 19 0 26 3 3 8 5 13 5 4 0 9-2 12-5l37-37 21 21c2 2 2 4 2 5 0 2 0 4-2 6l-135 135c-2 2-5 3-6 3z m68-218c-1 0-3 1-5 3l-135 134c-2 2-2 5-2 6 0 1 0 3 2 5l67 67c2 2 4 2 5 2 1 0 3 0 5-2l135-135c2-2 2-4 2-6 0-1 0-3-2-5l-20-20-36 36c-4 4-8 6-13 6-5 0-10-2-14-6-7-7-7-19 0-26l36-37-20-19c-1-2-4-3-5-3z m151-2c-1 0-3 0-5-2l-21-21 39-39c3-3 5-7 5-12 0-5-2-10-5-13-4-3-8-5-13-5-5 0-9 2-13 5l-39 39-20-21c-2-2-3-5-3-6 0-1 1-4 3-6l135-135c2-2 4-2 6-2 1 0 3 0 6 2l66 67c2 2 3 5 3 6 0 1-1 4-3 6l-135 135c-2 2-4 2-6 2z m-25-23l20 20c2 2 4 2 5 2 2 0 4 0 6-2l135-135c2-2 2-4 2-5 0-1 0-3-2-5l-67-67c-2-2-4-2-5-2-1 0-4 0-6 2l-134 135c-2 2-3 4-3 5 0 1 1 4 3 5l19 20 39-38c3-3 8-5 13-5 5 0 10 2 13 5 8 8 8 20 0 27z"/>
    </symbol>

    <symbol id="utouch-icon-media-play-symbol" viewBox="0 0 512 512">
        <path d="m85 4c4-3 8-4 13-4 5 0 9 1 13 4l316 229c8 5 13 14 13 23 0 9-5 18-13 23l-316 229c-8 5-18 5-26 0-8-4-13-13-13-22l0-459c0-10 5-19 13-23z"/>
    </symbol>

    <symbol id="utouch-icon-message" viewBox="0 0 512 512">
        <path d="m512 198c0-1-1-2-1-3-1-3-2-5-5-7l-73-51 0-55c0-7-6-13-13-13l-85 0-71-50c-5-3-11-3-15 0l-73 50-84 0c-7 0-13 6-13 13l0 54-73 51c-4 3-6 7-6 11 0 0 0 0 0 0l0 284c0 4 2 7 4 9 3 3 6 4 10 4 0 0 0 0 0 0l485 0c7 0 13-6 13-14z m-79-29l42 29-42 29z m-177-123l33 23-66 0z m-150 49l300 0 0 150-101 70-41-32c0 0 0 0 0 0-5-3-11-3-16 0l-41 33-101-70z m-27 73l0 60-43-30z m-53 55l159 110-158 122z m26 246l204-159 204 158z m275-137l158-110 1 233z m18-184l-178 0c-7 0-13 6-13 13 0 7 6 13 13 13l178 0c7 0 13-6 13-13 0-7-6-13-13-13z m0 68l-178 0c-7 0-13 6-13 13 0 7 6 13 13 13l178 0c7 0 13-6 13-13 0-7-6-13-13-13z"/>
    </symbol>

    <symbol id="utouch-icon-message-closed-envelope-1" viewBox="0 0 512 512">
        <path d="m451 62l-390 0c-34 0-61 26-61 58l0 272c0 32 27 58 61 58l390 0c34 0 61-26 61-58l0-272c0-32-27-58-61-58z m0 337l-390 0c-5 0-9-3-9-7l0-236 176 149c4 3 8 5 13 5l30 0c5 0 9-2 13-5l176-149 0 236c0 4-4 7-9 7z m-195-140l-172-146 344 0z"/>
    </symbol>

    <symbol id="utouch-icon-minus" viewBox="0 0 512 512">
        <path d="m452 195l-392 0c-33 0-60 28-60 61 0 33 27 61 60 61l392 0c33 0 60-28 60-61 0-33-27-61-60-61z"/>
    </symbol>

    <symbol id="utouch-icon-musical-note-2" viewBox="0 0 512 512">
        <path d="m181 408c0 47-38 85-85 85-48 0-86-38-86-85 0-48 38-86 86-86 47 0 85 38 85 86z m321-44c0 47-38 86-86 86-47 0-85-39-85-86 0-47 38-85 85-85 48 0 86 38 86 85z m-321-302l321-43 0 71-321 44z m321 67c-6 0-10 4-10 10l0 10c0 6 4 10 10 10 5 0 10-4 10-10l0-10c0-6-5-10-10-10z m0 56c-6 0-10 4-10 10l0 110c-18-22-45-36-76-36-52 0-95 43-95 95 0 53 43 96 95 96 53 0 96-43 96-96l0-169c0-6-5-10-10-10z m-86 254c-41 0-75-33-75-75 0-41 34-75 75-75 42 0 76 34 76 75 0 42-34 75-76 75z m-245-90c-18-23-45-37-75-37-53 0-96 43-96 96 0 52 43 95 96 95 52 0 95-43 95-95l0-265 312-42c5-1 9-5 9-11l0-71c0-3-1-6-3-8-3-1-6-2-9-2l-321 43c-5 1-8 5-8 10z m-75 134c-42 0-76-34-76-75 0-42 34-76 76-76 41 0 75 34 75 76 0 41-34 75-75 75z m396-401l-301 40 0-51 301-40z m-399 269c-30 0-54 24-54 54 0 6 5 10 11 10 5 0 10-4 10-10 0-18 15-33 33-33 5 0 10-5 10-10 0-6-5-11-10-11z"/>
    </symbol>

    <symbol id="utouch-icon-picture" viewBox="0 0 512 512">
        <path d="m459 0l-406 0c-29 0-53 24-53 53l0 406c0 29 24 53 53 53l406 0c29 0 53-24 53-53l0-406c0-29-24-53-53-53z m-9 316l-80-80c-5-4-12-4-16 0l-59 58-100-100c-5-5-12-5-17 0l-116 116 0-248 388 0z m-96-170c0 24-20 44-45 44-24 0-44-20-44-44 0-25 20-45 44-45 25 0 45 20 45 45z"/>
    </symbol>

    <symbol id="utouch-icon-placeholder-3" viewBox="0 0 512 512">
        <path d="m434 479l-58-122c-1-2-3-4-4-5-5-4-13-3-17 2-4 4-5 10-2 14l50 107-50-23c-6-2-14-2-21 0l-76 34c0 0 0 0 0 0 0 0 0 0 0 0l-76-33c-7-3-15-3-21-1l-50 23 50-107c2-3 2-8 0-11-3-7-11-9-17-6-3 1-5 3-6 6l-58 122c-3 8-2 16 4 22 6 6 14 7 22 4l65-29 77 34c3 1 6 2 10 2 4 0 7-1 10-2l77-34 65 29c8 3 16 2 22-4 6-6 7-14 4-22z m-64-432c-32-31-73-48-116-47-43 1-83 18-113 48-30 30-46 70-47 113 0 26 6 51 18 74 0 1 0 1 0 1l111 185c7 12 19 19 33 19 14 0 26-7 33-19l111-185c0 0 0 0 0-1 12-23 18-47 18-73 0-44-17-85-48-115z m7 176l-110 185c-3 6-9 7-11 7-2 0-8-1-11-7l-110-185c-10-19-15-40-15-62 0-74 61-134 134-135 37-1 71 13 98 39 26 26 40 60 40 97 0 21-5 42-15 61z m-121-120c-32 0-58 26-58 59 0 32 26 58 58 58 32 0 59-26 59-58 0-33-27-59-59-59z m0 92c-18 0-33-15-33-33 0-18 15-33 33-33 18 0 33 15 33 33 0 18-15 33-33 33z"/>
    </symbol>

    <symbol id="utouch-icon-placeholder-4" viewBox="0 0 512 512">
        <path d="m383 53c-34-34-79-53-127-53-48 0-93 19-127 53-62 62-70 180-17 252l144 207 143-207c54-72 46-190-16-252z m-125 190c-36 0-66-29-66-65 0-36 30-66 66-66 36 0 65 30 65 66 0 36-29 65-65 65z"/>
    </symbol>

    <symbol id="utouch-icon-play-button-2" viewBox="0 0 512 512">
        <path d="m478 128c-71-122-228-164-350-94-122 71-164 228-94 350 71 123 228 164 350 94 123-71 164-228 94-350z m-120 305c-97 57-223 23-279-75-57-97-23-223 75-279 98-57 223-23 279 75 57 98 23 223-75 279z m-10-187l-134-79c-12-7-22-1-22 13l1 155c0 14 10 20 22 13l133-77c12-7 12-18 0-25z"/>
    </symbol>

    <symbol id="utouch-icon-settings-5" viewBox="0 0 512 512">
        <path d="m256 142c-63 0-114 51-114 114 0 63 51 114 114 114 63 0 114-51 114-114 0-63-51-114-114-114z m0 195c-44 0-81-36-81-81 0-44 37-81 81-81 45 0 81 37 81 81 0 45-36 81-81 81z m215-150l-23 0c-3-6-5-12-7-17l16-17c16-16 16-42 0-58l-40-40c-16-16-42-16-58 0l-17 16c-5-2-11-4-17-7l0-23c0-23-18-41-41-41l-56 0c-23 0-41 18-41 41l0 23c-6 3-12 5-17 7l-17-16c-16-16-42-16-58 0l-40 40c-16 16-16 42 0 58l16 17c-2 5-4 11-7 17l-23 0c-23 0-41 18-41 41l0 56c0 23 18 41 41 41l23 0c3 6 5 12 7 17l-16 17c-16 16-16 42 0 58l40 40c16 16 42 16 58 0l17-16c5 2 11 4 17 7l0 23c0 23 18 41 41 41l56 0c23 0 41-18 41-41l0-23c6-3 12-5 17-7l17 16c16 16 42 16 58 0l40-40c16-16 16-42 0-58l-16-17c2-5 4-11 7-17l23 0c23 0 41-18 41-41l0-56c0-23-18-41-41-41z m8 97c0 5-4 8-8 8l-35 0c-8 0-14 5-16 12-4 12-8 23-14 34-4 6-3 14 3 19l25 25c3 3 3 8 0 12l-40 40c-4 3-9 3-12 0l-25-25c-5-6-13-7-19-3-11 6-22 10-34 14-7 2-12 8-12 16l0 35c0 4-3 8-8 8l-56 0c-5 0-8-4-8-8l0-35c0-8-5-14-12-16-12-4-23-8-34-14-6-4-14-3-19 3l-25 25c-3 3-8 3-12 0l-40-40c-3-4-3-9 0-12l25-25c6-5 7-13 3-19-6-11-10-22-14-34-2-7-8-12-16-12l-35 0c-4 0-8-3-8-8l0-56c0-5 4-8 8-8l35 0c8 0 14-5 16-12 4-12 8-23 14-34 4-6 3-14-3-19l-25-25c-3-3-3-8 0-12l40-40c4-3 9-3 12 0l25 25c5 6 13 7 19 3 11-6 22-10 34-14 7-2 12-8 12-16l0-35c0-4 3-8 8-8l56 0c5 0 8 4 8 8l0 35c0 8 5 14 12 16 12 4 23 8 34 14 6 4 14 3 19-3l25-25c3-3 8-3 12 0l40 40c3 4 3 9 0 12l-25 25c-6 5-7 13-3 19 6 11 10 22 14 34 2 7 8 12 16 12l35 0c4 0 8 3 8 8z m-207-170c0 8-7 16-16 16-9 0-16-8-16-16 0-9 7-16 16-16 9 0 16 7 16 16z m0 284c0 9-7 16-16 16-9 0-16-7-16-16 0-8 7-15 16-15 9 0 16 7 16 15z m142-142c0 9-7 16-16 16-8 0-15-7-15-16 0-9 7-16 15-16 9 0 16 7 16 16z m-284 0c0 9-8 16-16 16-9 0-16-7-16-16 0-9 7-16 16-16 8 0 16 7 16 16z m242-101c0 9-7 16-15 16-9 0-16-7-16-16 0-8 7-15 16-15 8 0 15 7 15 15z m-201 202c0 8-7 15-16 15-8 0-15-7-15-15 0-9 7-16 15-16 9 0 16 7 16 16z m201 0c0 8-7 15-15 15-9 0-16-7-16-15 0-9 7-16 16-16 8 0 15 7 15 16z m-201-202c0 9-7 16-16 16-8 0-15-7-15-16 0-8 7-15 15-15 9 0 16 7 16 15z"/>
    </symbol>

    <symbol id="utouch-icon-star" viewBox="0 0 512 512">
        <path d="m512 201c0-7-6-12-17-14l-155-23-69-140c-4-8-9-12-15-12-6 0-11 4-15 12l-69 140-155 23c-11 2-17 7-17 14 0 4 3 9 8 15l112 109-27 154c0 3 0 5 0 6 0 4 1 8 3 11 2 3 5 4 10 4 3 0 7-1 12-3l138-73 138 73c5 2 9 3 13 3 4 0 7-1 9-4 2-3 3-7 3-11 0-3 0-5 0-6l-27-154 112-109c5-5 8-10 8-15z"/>
    </symbol>

    <symbol id="utouch-icon-star-half-empty" viewBox="0 0 512 512">
        <path d="m511 198c-1-6-7-10-16-11l-155-23-69-140c-4-8-9-12-15-12-6 0-11 4-15 12l-69 140-155 23c-9 1-15 5-16 11-2 5 0 11 7 18l112 109-27 154c-1 6 0 12 2 16 2 3 6 5 11 5 3 0 7-1 12-3l138-73 138 73c5 2 9 3 13 3 4 0 8-2 10-5 2-4 3-10 2-16l-27-154 112-109c7-7 9-13 7-18z m-146 98l-15 15 4 20 18 110-98-52-18-10 0-296 49 99 9 18 21 4 109 16z"/>
    </symbol>

    <symbol id="utouch-icon-stopwatch" viewBox="0 0 512 512">
        <path d="m278 261l-111-80c-3-3-8-2-11 1-3 3-3 7-1 11l80 110c5 7 13 12 22 13 1 0 2 0 3 0 8 0 16-3 21-9 7-6 10-15 9-24-1-9-5-17-12-22z m-9 34c-3 3-6 4-10 4-4-1-8-3-10-6l-49-67 68 49c3 2 5 5 5 9 0 4-1 8-4 11z m210-73c0 0 0 0 0 0 0 0 0 0 0 0-6-20-13-38-23-55 0 0 0 0 0-1-1 0-1 0-1 0-8-15-19-29-30-41l18-18 12 12 36-37-36-36-36 36 12 13-18 18c-13-12-27-22-41-31-1 0-1 0-1 0 0 0 0 0 0 0-17-10-36-18-55-23 0 0 0 0 0 0 0 0 0 0 0 0-11-3-23-5-34-6l0-10 12 0c12 0 22-10 22-22 0-11-10-21-22-21l-76 0c-12 0-22 10-22 21 0 12 10 22 22 22l12 0 0 10c-11 1-23 3-34 6 0 0 0 0 0 0 0 0 0 0 0 0-19 5-38 13-55 23 0 0 0 0 0 0 0 0 0 0-1 0-14 9-28 19-41 31l-18-18 12-13-36-36-36 36 36 37 12-12 18 18c-11 12-22 26-30 41 0 0 0 0-1 0 0 1 0 1 0 1-10 17-17 35-22 55-1 0-1 0-1 0 0 0 0 0 0 0-5 19-7 39-7 60 0 20 2 40 7 59 0 0 0 0 0 0 0 0 0 0 1 0 5 20 12 38 22 55 0 0 0 1 0 1 1 0 1 0 1 0 10 17 22 33 36 47 0 0 0 0 0 1 0 0 0 0 1 0 14 14 29 26 46 36 1 0 1 0 1 0 0 0 0 0 1 0 17 10 35 18 54 23 0 0 0 0 0 0 0 0 0 0 0 0 19 5 39 8 60 8 21 0 41-3 60-8 0 0 0 0 0 0 0 0 0 0 0 0 19-5 37-13 54-23 1 0 1 0 1 0 0 0 0 0 1 0 17-10 32-22 46-36 1 0 1 0 1 0 0-1 0-1 0-1 14-14 26-30 36-47 0 0 0 0 1 0 0 0 0-1 0-1 10-17 17-35 23-55 0 0 0 0 0 0 0 0 0 0 0 0 5-19 7-39 7-59 0-21-2-41-7-60z m-24-152l12 12-12 13-12-13z m-410 12l12-12 12 12-12 13z m398 259l17 4c-4 12-9 24-15 36l-15-9c-4-2-9-1-11 3-3 5-1 10 3 12l14 9c-7 10-15 21-23 30l-12-12c-4-3-9-3-12 0-4 4-4 9 0 12l12 12c-10 9-20 17-31 24l-8-15c-3-4-8-5-12-3-4 3-6 8-3 12l8 14c-11 6-23 11-36 15l-4-16c-1-5-6-7-10-6-5 1-8 6-6 10l4 17c-13 2-25 4-38 5l0-17c0-5-4-9-9-9-5 0-9 4-9 9l0 17c-13-1-25-3-38-5l4-17c2-4-1-9-6-10-4-1-9 1-10 6l-4 16c-13-4-25-9-36-15l8-14c3-4 1-9-3-12-4-2-9-1-12 3l-8 15c-11-7-21-15-31-24l12-12c4-3 4-8 0-12-3-3-8-3-12 0l-12 12c-8-9-16-20-23-30l14-9c4-2 6-7 3-12-2-4-7-5-11-3l-15 9c-6-12-11-24-15-36l17-4c4-2 7-6 6-11-2-4-6-7-11-6l-16 5c-3-13-5-26-5-39l17 0c4 0 8-4 8-8 0-5-4-9-8-9l-17 0c0-13 2-26 5-38l16 4c1 0 2 0 2 0 4 0 8-2 9-6 1-5-2-9-6-10l-17-5c4-12 9-24 15-36l15 9c1 1 3 1 4 1 3 0 6-2 7-4 3-4 1-10-3-12l-14-8c7-11 15-22 23-31l12 12c2 2 4 2 6 2 2 0 5 0 6-2 4-3 4-9 0-12l-12-12c10-9 20-17 31-24l8 15c2 3 5 4 8 4 1 0 3 0 4-1 4-2 6-8 3-12l-8-14c11-6 23-11 36-15l4 16c1 4 4 7 8 7 1 0 2-1 2-1 5-1 8-6 6-10l-4-16c10-3 20-4 31-5 2 0 5 0 7-1 0 0 0 0 0 0l0 17c0 5 4 9 9 9 5 0 9-4 9-9l0-17c0 0 0 0 0 0 2 1 5 1 7 1 11 1 21 2 31 5l-4 16c-2 4 1 9 6 10 0 0 1 1 2 1 4 0 7-3 8-7l4-16c13 4 25 9 36 15l-8 14c-3 4-1 10 3 12 1 1 3 1 4 1 3 0 6-1 8-4l8-15c11 7 21 15 31 24l-12 12c-4 3-4 9 0 12 1 2 4 2 6 2 2 0 4 0 6-2l12-12c8 9 16 20 23 31l-14 8c-4 2-6 8-3 12 1 2 4 4 7 4 1 0 3 0 4-1l15-9c6 12 11 24 15 36l-17 5c-4 1-7 5-6 10 1 4 5 6 9 6 0 0 1 0 2 0l16-4c3 12 5 25 5 38l-17 0c-4 0-8 4-8 9 0 4 4 8 8 8l17 0c0 13-2 26-5 39l-16-5c-5-1-9 2-11 6-1 5 2 9 6 11z m-196-290l0-25-29 0c-3 0-5-2-5-5 0-2 2-4 5-4l76 0c3 0 5 2 5 4 0 3-2 5-5 5l-29 0 0 25c-3 0-6 0-9 0-3 0-6 0-9 0z"/>
    </symbol>

    <symbol id="utouch-icon-team" viewBox="0 0 512 512">
        <path d="m512 362c0-30-9-59-26-84-12-18-28-33-46-44 21-20 35-49 35-81 0-61-50-111-112-111-36 0-70 18-91 48-5-1-11-2-16-2-5 0-11 1-16 2-21-30-55-48-91-48-62 0-112 50-112 111 0 32 14 61 35 81-18 11-34 26-46 44-17 25-26 54-26 84l0 62 107 0 0 46 298 0 0-46 107 0z m-149-292c47 0 84 37 84 83 0 47-37 84-84 84 0 0-1 0-2 0 0 0 0 0 0 0 2-4 3-8 4-13 0 0 0 0 0-1 0-1 0-2 1-3 0-1 0-1 0-2 0-1 0-2 0-3 0-1 1-1 1-2 0-1 0-2 0-3 0-1 0-2 0-3 0 0 0-1 0-2 0-2 0-3 0-5 0 0 0 0 0 0 0 0 0 0 0 0 0-2 0-4 0-5 0-1 0-1 0-2 0-1 0-2 0-4 0 0 0 0 0-1-4-40-30-74-66-90 15-18 38-28 62-28z m-136 51c0 0 1 0 1 0 1 0 1-1 2-1 1 0 2 0 2-1 1 0 1 0 2 0 0 0 1 0 2-1 7-1 13-2 20-2 7 0 13 1 20 2 1 1 1 1 2 1 1 0 1 0 2 0 0 1 1 1 2 1 1 0 1 1 2 1 1 0 1 0 1 0 28 11 49 35 54 66 0 0 0 0 0 1 0 1 0 2 0 3 0 0 0 0 1 1 0 1 0 2 0 3 0 0 0 0 0 1 0 1 0 2 0 4 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 2 0 4 0 0 0 0 0 1 0 1 0 2-1 3 0 1 0 1 0 1 0 1 0 2 0 3 0 0 0 1 0 1 0 1 0 2-1 3 0 1 0 1 0 2 0 1 0 1 0 1-1 2-1 3-1 4 0 0-1 1-1 1 0 1 0 1 0 2 0 0-1 1-1 1 0 1 0 2 0 2-1 1-1 2-2 3 0 0 0 1 0 1 0 1-1 2-1 3 0 0 0 0 0 0 0 0 0 0-1 1 0 1 0 1-1 2 0 0 0 1 0 1 0 0 0 0 0 0-1 1-1 2-2 3 0 0 0 0-1 1 0 1-1 1-1 2-1 1-1 1-1 2-1 0-1 1-1 1-1 1-1 1-2 2 0 0 0 1 0 1-1 1-1 1-2 2 0 0 0 1-1 1 0 0-1 1-1 2-1 0-1 0-1 1-1 0-2 1-3 2 0 1-1 1-1 2-1 0-1 0-1 1-1 0-2 1-2 1-1 0-1 1-1 1-1 1-2 1-2 2-1 0-1 0-1 0-14 11-31 17-50 17-19 0-36-6-50-17 0 0 0 0-1 0 0-1-1-1-2-2 0 0 0-1-1-1 0 0-1-1-2-1 0-1 0-1-1-1 0-1-1-1-1-2-1-1-2-2-3-2 0-1 0-1-1-1 0-1-1-2-1-2-1 0-1-1-1-1-1-1-1-1-2-2 0 0 0-1 0-1-1-1-1-1-2-2 0 0 0-1-1-1 0-1 0-1-1-2 0-1-1-1-1-2-1-1-1-1-1-1-1-1-1-2-2-3 0 0 0-1 0-1-1-1-1-2-1-2-1-1-1-1-1-1 0 0 0 0 0 0 0-1-1-2-1-3 0 0 0-1 0-1-1-1-1-2-2-3 0 0 0-1 0-1 0-1-1-2-1-2 0-1 0-1 0-2-1-1-1-2-1-3 0 0 0-1-1-1 0-1 0-1 0-2 0-1 0-1 0-2 0-1-1-2-1-3 0 0 0-1 0-1 0-1 0-2 0-3 0 0 0 0 0-1-1-1-1-2-1-3 0-1 0-1 0-1 0-2 0-3 0-4 0-1 0-3 0-4 0-1 0-1 0-1 0-1 0-2 0-3 1-1 1-1 1-1 0-1 0-2 0-4 0 0 0 0 0 0 5-30 26-55 54-66z m-162 32c0-46 37-83 84-83 24 0 47 10 62 28-36 16-62 50-66 90 0 1 0 1 0 1 0 1 0 3 0 4 0 1 0 1 0 2 0 1 0 3 0 5 0 2 0 3 0 5 0 1 0 2 0 2 0 1 0 2 0 3 0 1 0 2 0 3 0 1 1 1 1 2 0 1 0 2 0 3 0 1 0 1 0 2 1 1 1 2 1 3 0 1 0 1 0 1 1 5 2 9 4 13 0 0 0 0 0 0-1 0-2 0-2 0-47 0-84-37-84-84z m65 176c0 0 0 1 0 1-1 1-2 2-2 3-1 1-1 1-1 2-1 1-1 2-2 3 0 0-1 1-1 2 0 1-1 2-1 3-1 0-1 1-1 1-1 1-1 2-2 3 0 1 0 2 0 2-1 1-1 3-2 4 0 0 0 1 0 1-1 2-2 3-2 5 0 0 0 1-1 1 0 1 0 2-1 4 0 0 0 1 0 1-1 2-1 3-1 4 0 0-1 1-1 2 0 1 0 2-1 3 0 0 0 1 0 2 0 1-1 2-1 3 0 1 0 1 0 2 0 1-1 2-1 3 0 1 0 2 0 2 0 2 0 4-1 5 0 0 0 0 0 0 0 2 0 3 0 5l-81 0 0-34c0-48 28-90 70-110 15 8 33 13 52 13 5 0 10-1 16-1 1 1 1 2 2 3 1 1 1 1 1 1 1 1 2 3 3 4 0 0 1 1 1 1 1 1 2 2 3 3 0 0 1 1 1 1 1 1 2 2 3 3 0 0 0 0 0 1-1 0-2 1-3 2 0 0 0 0-1 0-1 1-2 2-3 3-1 0-1 0-1 0-1 1-2 2-3 3-1 0-1 0-1 0-2 1-3 2-4 3 0 1-1 1-1 1-1 1-2 2-3 2 0 1-1 1-1 1-1 1-2 2-3 3 0 0 0 1-1 1-1 1-2 2-3 3 0 0-1 1-1 1-1 1-2 2-3 3 0 0 0 0-1 1 0 1-1 2-2 3 0 0-1 0-1 0-1 2-2 3-3 4 0 1 0 1-1 1 0 1-1 2-2 3 0 1-1 1-1 1-1 2-2 3-3 4-1 2-2 3-3 5z m5 113l0-34c0-2 0-3 0-5 0 0 0-1 0-1 0-1 0-2 0-3 0-1 0-1 0-2 0-1 1-2 1-3 0 0 0-1 0-2 0 0 0-1 0-2 0-1 0-1 1-2 0-1 0-2 0-2 0-1 0-2 0-2 1-1 1-2 1-3 0 0 0-1 0-2 1-1 1-1 1-2 0-1 0-1 0-2 1-1 1-2 1-2 0-1 1-2 1-2 0-1 0-2 0-3 1 0 1-1 1-2 0 0 1-1 1-2 0 0 1-1 1-2 0 0 0-1 1-2 0 0 0-1 1-2 0 0 0-1 0-2 1 0 1-1 1-2 1 0 1-1 1-2 1 0 1-1 1-2 1 0 1-1 1-1 1-1 1-2 2-2 0-1 0-2 1-2 0-1 0-1 1-2 0-1 1-1 1-2 0-1 1-1 1-2 1 0 1-1 2-2 0 0 0-1 1-1 0-1 1-1 1-2 1-1 1-1 2-2 0 0 0-1 1-1 0-1 1-2 1-2 1-1 1-1 2-2 0 0 1-1 1-1 1-1 1-1 2-2 0 0 1-1 1-2 1 0 1-1 2-1 0-1 1-1 1-2 1 0 2-1 2-1 1-1 1-1 2-2 0 0 1 0 1-1 1 0 2-1 2-1 1-1 1-1 2-2 0 0 1-1 2-1 0-1 1-1 1-1 1-1 2-1 2-2 1 0 2 0 2-1 1 0 1-1 2-1 1-1 1-1 2-1 1-1 1-1 2-1 0-1 1-1 2-2 0 0 1 0 2-1 0 0 1 0 2-1 0 0 1 0 2-1 0 0 1 0 1 0 16 8 33 12 52 12 19 0 36-4 52-12 0 0 1 0 1 0 1 1 2 1 2 1 1 1 2 1 2 1 1 1 2 1 2 1 1 1 2 1 2 2 1 0 1 0 2 1 1 0 1 0 2 1 1 0 1 1 2 1 0 1 1 1 2 1 0 1 1 1 2 2 0 0 1 0 1 1 1 0 2 1 2 1 1 1 1 1 2 2 0 0 1 1 2 1 0 1 1 1 1 1 1 1 1 1 2 2 0 0 1 1 2 1 0 1 1 1 1 2 1 0 1 1 2 1 0 1 1 2 1 2 1 1 1 1 2 2 0 0 1 1 1 1 1 1 1 1 2 2 0 0 1 1 1 2 1 0 1 1 1 1 1 1 1 1 2 2 0 1 1 1 1 2 1 0 1 1 1 1 1 1 1 2 2 2 0 1 1 1 1 2 0 1 1 1 1 2 1 1 1 1 1 2 1 0 1 1 1 2 1 0 1 1 2 2 0 0 0 1 1 1 0 1 0 2 1 2 0 1 0 2 1 2 0 1 0 2 1 2 0 1 0 2 0 2 1 1 1 2 1 2 1 1 1 2 1 2 0 1 1 2 1 2 0 1 1 2 1 2 0 1 0 2 1 2 0 1 0 2 0 3 0 0 1 1 1 2 0 0 0 1 1 2 0 1 0 1 0 2 0 1 0 1 1 2 0 1 0 2 0 2 0 1 0 2 1 3 0 0 0 1 0 2 0 0 0 1 0 2 1 1 1 1 1 2 0 1 0 2 0 2 0 1 0 2 0 2 0 1 1 2 1 3 0 1 0 1 0 2 0 1 0 2 0 3 0 0 0 1 0 1 0 2 0 3 0 5l0 34z m269-46c0-3-1-7-1-10 0 0 0-1 0-2 0-1-1-2-1-3 0-1 0-1 0-2 0-1-1-2-1-3 0-1 0-2 0-2-1-1-1-2-1-3 0-1 0-2-1-2 0-1 0-2-1-4 0 0 0-1 0-1-1-2-1-3-1-4-1 0-1-1-1-1 0-2-1-3-2-5 0 0 0-1 0-1-1-1-1-3-2-4 0 0 0-1 0-2-1-1-1-2-2-3 0 0 0-1-1-1 0-1-1-2-1-3 0-1-1-2-1-2-1-1-1-2-2-3 0-1 0-1-1-2 0-1-1-2-2-3 0 0 0-1 0-1-1-2-2-3-3-5-1-1-2-2-3-4 0 0-1 0-1-1-1-1-2-2-2-3-1 0-1 0-1-1-1-1-2-2-3-4 0 0-1 0-1 0-1-1-2-2-2-3-1-1-1-1-1-1-1-1-2-2-3-3 0 0-1-1-1-1-1-1-2-2-3-3-1 0-1-1-1-1-1-1-2-2-3-3 0 0-1 0-1-1-1 0-2-1-3-2 0 0-1 0-1-1-1-1-2-2-4-3 0 0 0 0-1 0-1-1-2-2-3-3 0 0 0 0-1 0-1-1-2-2-3-3-1 0-1 0-1 0-1-1-2-2-3-2 0-1 0-1 0-1 1-1 2-2 3-3 0 0 1-1 1-1 1-1 2-2 3-3 0 0 1-1 1-1 1-1 2-3 3-4 0 0 0 0 1-1 1-1 1-2 2-3 6 0 11 1 16 1 19 0 37-5 52-13 42 20 70 62 70 110l0 34z"/>
    </symbol>

    <symbol id="utouch-icon-telephone-keypad-with-ten-keys" viewBox="0 0 512 512">
        <path d="m256 419c-26 0-47 21-47 46 0 26 21 47 47 47 26 0 47-21 47-47 0-25-21-46-47-46z m-140-419c-25 0-46 21-46 47 0 25 21 46 46 46 26 0 47-21 47-46 0-26-21-47-47-47z m0 140c-25 0-46 21-46 46 0 26 21 47 46 47 26 0 47-21 47-47 0-25-21-46-47-46z m0 139c-25 0-46 21-46 47 0 25 21 46 46 46 26 0 47-21 47-46 0-26-21-47-47-47z m280-186c25 0 46-21 46-46 0-26-21-47-46-47-26 0-47 21-47 47 0 25 21 46 47 46z m-140 186c-26 0-47 21-47 47 0 25 21 46 47 46 26 0 47-21 47-46 0-26-21-47-47-47z m140 0c-26 0-47 21-47 47 0 25 21 46 47 46 25 0 46-21 46-46 0-26-21-47-46-47z m0-139c-26 0-47 21-47 46 0 26 21 47 47 47 25 0 46-21 46-47 0-25-21-46-46-46z m-140 0c-26 0-47 21-47 46 0 26 21 47 47 47 26 0 47-21 47-47 0-25-21-46-47-46z m0-140c-26 0-47 21-47 47 0 25 21 46 47 46 26 0 47-21 47-46 0-26-21-47-47-47z"/>
    </symbol>

    <symbol id="utouch-icon-upward-arrow" viewBox="0 0 512 512">
        <path d="m308 0l-151 198 79 0c13 137-39 267-182 314 184 1 289-151 324-314l80 0z"/>
    </symbol>

    <symbol id="utouch-icon-user" viewBox="0 0 512 512">
        <path d="m325 193c0 37-30 68-68 68-37 0-68-31-68-68 0-38 31-69 68-69 38 0 68 31 68 69z m-69-193c-141 0-256 115-256 256 0 141 115 256 256 256 141 0 256-115 256-256 0-141-115-256-256-256z m117 423c-8-69-36-139-116-139-80 0-108 71-116 140-54-36-89-98-89-168 0-113 91-204 204-204 113 0 204 91 204 204 0 69-34 130-87 167z"/>
    </symbol>

    <symbol id="utouch-icon-users" viewBox="0 0 512 512">
        <path d="m103 206c0-46 37-83 83-83 45 0 82 37 82 83 0 45-37 82-82 82-46 0-83-37-83-82z m118 88l-71 0c-58 0-105 47-105 106l0 86 0 1 6 2c55 17 104 23 144 23 77 0 122-22 125-24l6-2 0 0 0-86c0-59-47-106-105-106z m105-129c46 0 83-37 83-82 0-46-37-83-83-83-45 0-82 37-82 83 0 45 37 82 82 82z m35 6l-70 0c-1 0-3 0-5 0 7 13 10 28 10 44 0 29-12 55-31 74 45 13 80 52 88 99 67-2 106-21 108-23l6-3 0 0 0-85c0-59-47-106-106-106z"/>
    </symbol>

    <symbol id="utouch-icon-worlwide" viewBox="0 0 512 512">
        <path d="m437 75c-48-47-110-74-178-75-1 0-2 0-3 0-1 0-2 0-3 0-68 1-130 28-178 75-48 48-75 113-75 181 0 68 27 133 75 181 48 47 110 74 178 75 1 0 2 0 3 0 1 0 2 0 3 0 68-1 130-28 178-75 48-48 75-113 75-181 0-68-27-133-75-181z m-340 22c27-28 60-47 96-57-9 9-16 20-24 31-9 16-17 32-24 49l-69 0c6-8 13-16 21-23z m-41 54l79 0c-8 28-13 59-14 90l-90 0c2-32 11-63 25-90z m0 210c-14-27-23-58-25-90l90 0c1 31 6 62 14 90z m41 54c-8-7-15-15-21-23l69 0c7 17 15 33 24 49 8 11 15 22 24 31-36-10-69-29-96-57z m144 60c-13-8-30-25-46-50-6-11-12-22-17-33l63 0z m0-114l-74 0c-9-28-15-58-16-90l90 0z m0-120l-90 0c1-32 7-62 16-90l74 0z m0-121l-63 0c5-11 11-22 17-33 16-25 33-42 46-50l0 83z m215 31c14 27 23 58 25 90l-90 0c-1-31-6-62-14-90z m-41-54c8 7 15 15 21 23l-69 0c-7-17-15-33-24-49-8-11-15-22-24-31 36 10 69 29 96 57z m-144-60c13 8 30 25 46 50 6 11 12 22 17 33l-63 0 0-83z m0 114l74 0c9 28 15 58 16 90l-90 0z m90 120c-1 32-7 62-16 90l-74 0 0-90z m-90 204l0-83 63 0c-5 11-11 22-17 33-16 25-33 42-46 50z m144-60c-27 28-60 47-96 57 9-9 16-20 24-31 9-16 17-32 24-49l69 0c-6 8-13 16-21 23z m41-54l-79 0c8-28 13-59 14-90l90 0c-2 32-11 63-25 90z"/>
    </symbol>

    <symbol id="utouch-icon-world-map" viewBox="0 0 512 512">
        <path d="m172 295c0-1-9-9-12-12-2-3-6-4-8-5-3-1-17-6-21-3-3 2-8 4-10 0-2-4-3-5-5-5-3-1-2-4-2-7 0-3-2-5-3-4-2 2-9 7-9 5-1-3-6-13 1-15 6-2 12-1 14 1 1 2 3 7 5 6 2-1 1-4 1-7 1-3 6-8 8-12 2-4 3-7 6-8 2-1 4-3 6-4 3-2 7-4 9-5 1-1 8-4 10-4 2 1 4 0 2-3-2-4-4-14-8-18-4-4-4-6-6-10-1-4-3-8-4-5-2 3-4 7-6 3-1-4-1-3-3-5-2-2-3-2-6-3-3-1-5 0-5 3 0 2-2 7-1 10 2 3 3 7 1 8-2 1 0 8-2 8-2 0-3 0-3-2 0-3 1-7-3-7-4 0-7-2-10-4-3-2-5-1-4-6 0-5-1-6 2-9 4-3 5-4 7-3 2 1 4 1 6-1 1-1 4 0 4-2 0-2-3-2-3-5 0-3 2-1 2-6 1-5-3-12-7-11-4 1-11 6-12 4-1-3-4-1-9 0-5 2-25-1-27-3 0 0-3-3-5-1-2 1-10 0-12 0-2 0-4 3-7 2-3-1-12-3-15-5-2-1-5-1-7-2-1-1-7-1-8 0-1 2-5 4-7 6-2 2-4 2-2 6 2 4-6 7-4 11 2 5 0 17 7 19 8 2 14 4 18 0 4-3 11-3 13 0 2 4 3 10 10 13 6 4 12 13 12 18-1 4 0 18 7 26 7 8 14 23 14 20 1-4 1-7 2-5 2 3 6 10 12 12 6 1 9 2 12 4 2 2 4 4 7 5 2 1 9 4 10 7 1 2 1 5 0 9-2 3-3 7-1 10 1 3 5 13 9 15 3 2 6 6 5 10-1 5-4 26-4 31 1 4-4 20 0 26 3 6 10 8 12 7 3 0 1-1 0-4-2-2-1-6 0-9 2-3 2-4 1-7-1-3-1-5 1-7 2-3 10-9 12-12 3-2 18-21 20-23 2-1 7-5 8-11 2-6 7-17 3-20-3-3-17-5-18-5z m37-164c1-2 4-8 5-10l-58 0c0 3 3 14 2 19 0 5 2 4 3 6 1 2 1 5 0 8-1 2-1 8 2 14 3 7 6 15 9 16 3 0 2 4 4 3 2-2 3-5 4-10 2-5 2-9 6-11 5-3 17-11 19-14 3-3 6-4 5-9-1-5-2-9-1-12z m289 23c-2-2-15-13-21-11-6 1-16-3-17-4-2-1-16-5-23-6-4 0-19-3-25-6-6-3-12-16-24-14-1 0-16 2-20 6-3 3-5 7-7 8-2 0-8 0-8 3 0 3 2 12 0 10-3-2-5-6-6-3-1 3-3 5-4 4-1-1-7 0-8 2-1 2-8 6-11 7-3 1-4 2-6 3-2 1-14 7-17 4-2-2-3 0-4 0 0 0-5-1-8-4-2-4-3-3-6-6-3-3-4-7-7-5-3 1-17 15-22 21-5 6-14 13-10 17 5 5 8 4 8 7 1 2 1 5 2 6 1 1 5 4 7 0 3-5 3-8 6-7 2 0 3 2 1 6-1 3-2 8-6 8-5 0-10-3-11-2-2 1-2 2-4 3-2 2-7 8-11 9-3 1-7 0-5 3 3 3 6 9 3 9-4 0-9-1-10 3 0 3-1 5-1 7 1 3 4 7 6 6 3-2 9-4 11-7 1-4 3-7 7-7 3 0 12 5 12 7-1 1-3 5-1 4 3-1 4-3 6-3 1-1 3 1 3 2 1 1 5 3 5 0 1-3 2-1 4 0 2 1 9 2 10 3 1 1 3 3 0 6-2 3-5 4-10 2-4-2-9 2-13 0-5-3-3-6-9-8-5-3-18 0-23 2-4 1-4 1-5 3-2 2-13 15-13 22 0 7 4 26 17 24 13-2 21 0 20 4-2 3-1 4 2 9 2 4 8 34 8 39 1 5 0 11 6 10 6-1 12-3 15-8 3-6 3-12 6-16 4-3 8-3 8-7 0-5-1-16 1-19 3-2 13-14 14-19 1-4 3-5-2-5-4 0-11-1-13-5-2-4-7-11-7-13 0-2 3-1 4 2 2 4 7 15 13 13 6-3 14-5 14-9 1-4-2-8-5-8-3 0-6-2-6-4 0-2 0-1 4 0 3 2 4 4 10 4 5 1 11 6 14 8 3 3 8 18 10 20 1 2 3 2 4-2 1-3 7-13 10-15 3-3 3-7 5-4 2 2 10 8 10 11 1 4 0 11 2 9 1-2 3-7 4-5 2 2 2 5 5 3 4-3 10-4 6-9-3-5-1-9 1-9 2 0 16-3 17-10 0-8-5-12-3-16 3-4 6-7 7-5 1 2-2 10 1 9 4-1 8-1 8-4 0-2-1-8 0-9 2-2 13-12 14-16 1-4 4-8 2-11-2-3-6-2-3-6 3-4 7-7 11-8 11-1 8 13 8 16 0 3 0 11 2 7 2-4 4-8 7-12 3-3 5-5 5-8 1-3 1-4 4-5 3-2 17-7 18-11 2-4-1-7 2-7 3 0 6 4 8 2 2-2 6-5 5-7 0-2-5-7-8-8z m-59 65c-1 2-2 3-4 8-1 5-1 4-3 7-1 4-4 4-7 6-3 2-3 6-3 6-3 4 10-4 14-7 4-2 3-5 3-9 1-4 2-5 4-7 2-1 0-5-1-7-1-3-2 0-3 3z m-38 88c1-1 0-3 2-3 2 1 4 2 6 1 3-2 5-1 4-4 0-2 0-5 0-7-1-2-4-2-6 0-3 2-6 5-6 4 0-1 1-4 1-6-1-2 0-4-4-2-3 1-6 1-7 3-1 2-3 6-5 3-2-2-9-7-9-7 0 0-7-6-5-2 3 4 7 11 8 13 2 3 4 6 7 4 2-1 2-1 5 0 3 2 7 4 9 3z m45-5c-4-2-2-3-6-4-5-1-8 0-9-1-1-1-7-3-6 0 1 3 6 4 7 4 1 1-2 3 0 4 3 2 5 4 8 3 3 0 4 1 7 2 2 0 5-1 4-2-1-1-2-3-2-4 0-1 1-1-3-2z m-2 17c-1-4-4-11-5-8-1 4-6 6-8 6-1 0 0-2 0-3 0-2-1-3-6-2-4 1-5 5-6 5-1-1-4-2-6 1-2 2-3 6-6 7-2 0-9 1-9 4 0 4 2 8 2 11-1 2-4 8 0 10 3 1 5 1 8-1 3-1 16-5 17-4 2 2 5 5 6 5 2 2 3 5 6 6 3 1 6 1 7 1 1 0 6-2 7-4 1-3 3-9 4-13 1-3 2-6-1-9-3-3-9-8-10-12z"/>
    </symbol>

    <symbol id="utouch-icon-menu-1" viewBox="0 0 512 512">
        <path d="m23 186l466 0c13 0 23-10 23-23 0-13-10-23-23-23l-466 0c-13 0-23 10-23 23 0 13 10 23 23 23z m466 47l-466 0c-13 0-23 10-23 23 0 13 10 23 23 23l466 0c13 0 23-10 23-23 0-13-10-23-23-23z m0 93l-466 0c-13 0-23 10-23 23 0 13 10 23 23 23l466 0c13 0 23-10 23-23 0-13-10-23-23-23z"/>
    </symbol>

    <symbol id="utouch-icon-google-play" viewBox="0 0 512 512">
        <path d="m24 24c-2 4-2 9-2 14l0 436c0 5 0 9 2 14l244-232c0 0-244-232-244-232z m339 142l-285-159c-11-7-22-8-32-6l245 233c0 0 72-68 72-68z m105 58l-76-42-78 74 80 75 74-40c36-21 23-54 0-67z m-423 287c10 2 21 1 33-6l286-157-73-70c0 0-246 233-246 233z"/>
    </symbol>

    <symbol id="utouch-icon-chat-1" viewBox="0 0 512 512">
        <path d="m256 27l0 25c38 26 63 69 63 119 0 49-25 92-63 118l0 43 27 0 0 54 54-54 135 0c9 0 18-8 18-18l0-287c0-10-9-18-18-18l-198 0c-10 0-18 8-18 18m0 0l0 25c38 26 63 69 63 119 0 49-25 92-63 118l0 43 27 0 0 54 54-54 108 0c10 0 18-8 18-18l0-287c0-10-8-18-18-18l-171 0c-10 0-18 8-18 18m-81 0c-79 0-144 65-144 144 0 45 21 85 54 112l0 67 44-44c15 5 30 8 46 8 79 0 144-64 144-143 0-79-65-144-144-144m14 9c-72 0-131 63-131 140 0 44 19 84 49 109l0 65 39-42c14 5 27 7 43 7 71 0 130-63 130-140 0-76-59-139-130-139m94 296l-27 0 0-43c-23 16-51 25-81 25-16 0-31-2-46-8l-44 44 0-67c-10-9-20-20-28-31l-17 0c-9 0-18 8-18 17l0 162c0 10 9 18 18 18l0 54 54-54 198 0c10 0 18-8 18-18l0-72-27 27 0-54z m-216-72c-10 0-18 0-18 9l0 162c0 10 8 18 18 18l0 27 27-27 198 0c10 0 18-8 18-18l0-72-27 27 0-54-27 0 0-43c-23 16-51 25-81 25-16 0-39-2-54-8l-36 44 0-67z m18 99c-1 0-2 0-3-1-4 0-6-4-6-8l0-63c-34-29-54-71-54-116 0-85 69-153 153-153 85 0 153 68 153 153 0 84-68 152-153 152-14 0-29-1-44-6l-39 40c-2 1-4 2-7 2z m90-323c-74 0-135 60-135 135 0 41 19 79 51 105 2 2 3 4 3 7l0 46 29-29c3-3 6-4 9-2 14 5 29 7 43 7 75 0 135-60 135-134 0-75-60-135-135-135z m108 359c-1 0-3 0-4-1-3-1-5-4-5-8l0-45-18 0c-5 0-9-3-9-9l0-43c0-2 2-5 4-7 36-25 59-66 59-111 0-45-23-87-59-112-2-2-4-4-4-7l0-25c0-15 12-27 27-27l198 0c15 0 27 12 27 27l0 287c0 16-12 27-27 27l-132 0-51 52c-2 1-3 2-6 2z m-18-72l18 0c5 0 9 4 9 9l0 33 39-39c1-2 3-3 6-3l135 0c5 0 9-3 9-9l0-287c0-5-4-9-9-9l-198 0c-5 0-9 4-9 9l0 21c40 28 63 74 63 123 0 48-23 94-63 123l0 29z m-225 189c0 0-2 0-3-1-4-1-6-4-6-8l0-47c-10-3-18-13-18-25l0-162c0-15 12-26 27-26l17 0c2 0 5 1 7 3 8 12 17 22 27 30 2 2 3 4 3 7l0 46 29-29c3-3 6-4 9-2 40 14 84 7 120-16 2-2 6-2 8-1 3 2 5 5 5 8l0 34 18 0c5 0 9 4 9 9l0 33 12-12c2-3 6-4 9-2 4 2 6 5 6 8l0 72c0 15-12 27-27 27l-194 0-51 51c-2 2-4 3-7 3z m0-252c-5 0-9 4-9 9l0 162c0 6 4 9 9 9 6 0 9 4 9 9l0 32 39-38c2-2 4-3 6-3l198 0c5 0 9-3 9-9l0-50-12 12c-2 2-6 3-10 1-3-1-5-4-5-8l0-45-18 0c-5 0-9-3-9-9l0-27c-35 19-76 24-116 12l-39 40c-3 2-7 3-10 1-4 0-6-4-6-8l0-63c-9-9-17-17-24-27z m396-170l-63 0c-6 0-9-4-9-9 0-6 3-9 9-9l63 0c5 0 9 3 9 9 0 5-4 9-9 9z m-99 0l-45 0c-5 0-9-4-9-9 0-6 4-9 9-9l45 0c5 0 9 3 9 9 0 5-4 9-9 9z m99 45l-27 0c-6 0-9-4-9-9 0-6 3-9 9-9l27 0c5 0 9 3 9 9 0 5-4 9-9 9z m-63 0l-54 0c-6 0-9-4-9-9 0-6 3-9 9-9l54 0c5 0 9 3 9 9 0 5-4 9-9 9z m63 45l-54 0c-6 0-9-4-9-9 0-6 3-9 9-9l54 0c5 0 9 3 9 9 0 5-4 9-9 9z m-90 0l-27 0c-6 0-9-4-9-9 0-6 3-9 9-9l27 0c5 0 9 3 9 9 0 5-4 9-9 9z m90 45l-27 0c-6 0-9-4-9-9 0-6 3-9 9-9l27 0c5 0 9 3 9 9 0 5-4 9-9 9z m-63 0l-54 0c-6 0-9-4-9-9 0-6 3-9 9-9l54 0c5 0 9 3 9 9 0 5-4 9-9 9z m63 44l-45 0c-6 0-9-3-9-9 0-5 3-8 9-8l45 0c5 0 9 3 9 8 0 6-4 9-9 9z m-81 0l-63 0c-5 0-9-3-9-9 0-5 4-8 9-8l63 0c5 0 9 3 9 8 0 6-4 9-9 9z m-108-134l-45 0c-5 0-9-4-9-9 0-6 4-9 9-9l45 0c5 0 9 3 9 9 0 5-4 9-9 9z m-81 0l-63 0c-5 0-9-4-9-9 0-6 4-9 9-9l63 0c6 0 9 3 9 9 0 5-3 9-9 9z m81 45l-9 0c-5 0-9-4-9-9 0-6 4-9 9-9l9 0c5 0 9 3 9 9 0 5-4 9-9 9z m-45 0l-36 0c-5 0-9-4-9-9 0-6 4-9 9-9l36 0c5 0 9 3 9 9 0 5-4 9-9 9z m-72 0l-27 0c-5 0-9-4-9-9 0-6 4-9 9-9l27 0c6 0 9 3 9 9 0 5-3 9-9 9z m117 45l-27 0c-5 0-9-4-9-9 0-6 4-9 9-9l27 0c5 0 9 3 9 9 0 5-4 9-9 9z m-63 0l-81 0c-5 0-9-4-9-9 0-6 4-9 9-9l81 0c6 0 9 3 9 9 0 5-3 9-9 9z m45 143l-63 0c-5 0-9-3-9-9 0-5 4-9 9-9l63 0c5 0 9 4 9 9 0 6-4 9-9 9z m-99 0l-9 0c-5 0-9-3-9-9 0-5 4-9 9-9l9 0c6 0 9 4 9 9 0 6-3 9-9 9z m99 45l-27 0c-5 0-9-3-9-9 0-5 4-9 9-9l27 0c5 0 9 4 9 9 0 6-4 9-9 9z m-63 0l-45 0c-5 0-9-3-9-9 0-5 4-9 9-9l45 0c6 0 9 4 9 9 0 6-3 9-9 9z"/>
    </symbol>

    <symbol id="utouch-icon-1496680146-share" viewBox="0 0 512 512">
        <path d="m384 314c-19 0-36 8-48 21l-142-70c0-3 1-6 1-10 0-3-1-6-1-9l142-69c12 13 29 21 48 21 37 0 67-30 67-67 0-37-30-66-67-66-37 0-67 29-67 66 0 4 1 7 1 10l-142 69c-12-13-29-21-48-21-37 0-67 30-67 66 0 37 30 67 67 67 19 0 36-8 48-21l142 70c0 3-1 6-1 10 0 37 30 66 67 66 37 0 67-29 67-66 0-37-30-67-67-67z"/>
    </symbol>

    <symbol id="utouch-icon-1496838047-75" viewBox="0 0 512 512">
        <path d="m38 427c0 20 17 37 37 37l121 0c21 0 37-17 37-37l0-149c0-21-16-38-37-38l-60 0c-10 0-18-8-18-18 0-3 1-6 1-6 13-45 47-81 91-97l1 0c13-6 22-19 22-34 0-21-16-38-37-38-5 0-10 1-14 3l-2 1c-83 32-142 113-142 208z m242 0c0 20 16 37 37 37l121 0c20 0 37-17 37-37l0-149c0-21-17-38-37-38l-60 0c-10 0-18-8-18-18 0-4 0-6 0-6 14-45 48-81 92-97l1 0c13-6 22-19 22-34 0-21-17-38-37-38-5 0-10 1-14 3l-2 1c-83 32-142 113-142 208z"/>
    </symbol>

    <symbol id="utouch-icon-add" viewBox="0 0 512 512">
        <path d="m452 195l-135 0 0-135c0-33-28-60-61-60-33 0-61 27-61 60l0 135-135 0c-33 0-60 28-60 61 0 33 27 61 60 61l135 0 0 135c0 33 28 60 61 60 33 0 61-27 61-60l0-135 135 0c33 0 60-28 60-61 0-33-27-61-60-61z"/>
    </symbol>

    <symbol id="utouch-icon-alarm" viewBox="0 0 512 512">
        <path d="m71 226c-5 0-10-4-10-10 0-59 27-115 73-152 5-3 11-3 14 2 4 4 3 11-1 14-42 33-65 83-65 136 0 6-5 10-11 10z m11 62c-4 0-8-2-10-6-2-7-4-14-6-21-1-5 3-11 8-12 6-1 11 2 12 8 2 6 4 12 6 18 2 5-1 11-7 13-1 0-2 0-3 0z m-35 36c-4 0-8-3-9-6-15-32-23-66-23-102 0-71 32-138 86-184 5-4 11-3 15 1 3 4 3 11-2 14-50 42-78 104-78 169 0 33 7 64 20 93 3 5 0 11-5 14-1 0-3 1-4 1z m383-36c-1 0-2 0-3 0-6-2-9-8-7-13 7-19 10-39 10-59 0-53-23-103-65-136-4-3-5-10-1-14 3-5 9-5 14-2 46 37 73 93 73 152 0 23-4 45-11 66-2 4-6 6-10 6z m-16-229c-2 0-5-1-7-3-3-3-6-6-9-9-5-3-5-10-2-14 4-4 10-5 15-1 3 3 7 6 10 9 4 4 4 10 1 14-2 3-5 4-8 4z m51 265c-1 0-3-1-4-1-5-3-8-9-5-14 13-29 20-60 20-93 0-47-15-92-43-130-3-5-2-11 3-15 4-3 10-2 14 2 30 42 47 91 47 143 0 36-8 70-23 102-1 3-5 6-9 6z m-237-249c0-15 12-28 28-28 16 0 28 13 28 28 0 2 0 3 0 4 12 3 24 7 35 13 1-5 2-11 2-17 0-36-29-65-65-65-36 0-65 29-65 65 0 6 0 11 2 17 11-6 23-10 35-13 0-1 0-2 0-4z m166 227l0-86c0-54-30-101-75-124-11-6-23-10-35-13-9-2-18-3-28-3-9 0-19 1-28 3-12 3-24 7-35 13-45 23-75 69-75 123l0 87c0 49-40 149-90 149l456 0c-50 0-90-100-90-149z m-189 149c0 28 23 51 51 51 28 0 51-23 51-51z m279-11c-40 0-79-88-79-138l0-86c0-28-8-55-23-79-13-21-30-38-51-50 0-4 0-8 0-12 0-41-33-75-75-75-42 0-75 34-75 75 0 4 0 8 0 11-45 27-74 75-74 129l0 87c0 50-39 138-79 138-5 0-10 5-10 11 0 5 5 10 10 10l167 0c5 29 31 51 61 51 30 0 56-22 61-51l167 0c5 0 10-5 10-10 0-6-5-11-10-11z m-228-420c30 0 55 25 55 55 0 1 0 1 0 2l0 0c-6-2-11-4-17-6l0 0c-2-19-18-34-38-34-20 0-36 15-38 34l0 0c-6 2-11 4-17 6l0 0c0-1 0-1 0-2 0-30 25-55 55-55z m16 47c-5 0-11-1-16-1-5 0-11 1-16 1 3-6 9-9 16-9 7 0 13 3 16 9z m-16 425c-19 0-35-13-40-31l80 0c-5 18-21 31-40 31z m51-52l-236 0c11-10 21-23 29-40 17-32 28-71 28-98l0-87c0-48 26-92 69-114 11-6 22-9 33-12 9-2 17-2 26-2 0 0 0 0 0 0 9 0 17 1 26 2 11 3 22 6 32 12 43 22 70 66 70 115l0 86c0 27 11 66 28 98 8 17 18 30 29 40z m-150-151c-6 0-10-4-10-10l0-63c0-41 22-78 59-97 5-2 11 0 14 5 2 5 0 11-5 13-29 16-48 46-48 79l0 63c0 6-5 10-10 10z m119-159c-1 0-1-1-2-1-6-1-12-2-18-2-6 0-10-4-10-10 0-5 4-10 10-10 0 0 0 0 0 0 7 0 15 1 22 2 6 1 9 7 8 12-1 5-5 9-10 9z"/>
    </symbol>

    <symbol id="utouch-icon-apple-logotype-1" viewBox="0 0 512 512">
        <path d="m282 39c19-22 50-38 76-39 3 30-9 60-27 82-18 21-47 38-76 36-4-29 11-60 27-79z m146 409c-21 32-43 63-78 63-34 1-45-20-84-20-39 0-51 20-83 21-34 1-60-34-81-65-44-63-77-179-32-258 22-39 62-63 105-64 33-1 64 22 84 22 21 0 58-27 98-23 17 1 63 7 93 51-2 1-55 32-55 97 1 78 68 103 69 104-1 1-11 36-36 72z"/>
    </symbol>

    <symbol id="utouch-icon-arrow-left" viewBox="0 0 512 512">
        <path d="m477 235l13 0c12 0 22 9 22 21 0 12-10 21-22 21l-13 0c-12 0-22-9-22-21 0-12 10-21 22-21z m-171 0l71 0c11 0 21 9 21 21 0 12-10 21-21 21l-71 0c-12 0-21-9-21-21 0-12 9-21 21-21z m-236 0l136 0c12 0 21 9 21 21 0 12-9 21-21 21l-136 0c-12 0-21-9-21-21 0-12 9-21 21-21z"/>
    </symbol>

    <symbol id="utouch-icon-arrow-left-1" viewBox="0 0 512 512">
        <path d="m7 239c1-2 2-3 4-3l92-94c9-9 23-9 32 0 9 9 9 24 0 33l-79 81 80 81c9 9 9 24 0 33-5 5-11 7-17 7-5 0-11-2-16-7l-92-94c-2-1-3-2-4-3-5-5-7-11-7-17 0-6 2-13 7-17z m470-4l13 0c12 0 22 9 22 21 0 12-10 21-22 21l-13 0c-12 0-22-9-22-21 0-12 10-21 22-21z m-171 0l71 0c11 0 21 9 21 21 0 12-10 21-21 21l-71 0c-12 0-21-9-21-21 0-12 9-21 21-21z m-236 0l136 0c12 0 21 9 21 21 0 12-9 21-21 21l-136 0c-12 0-21-9-21-21 0-12 9-21 21-21z"/>
    </symbol>

    <symbol id="utouch-icon-arrow-left1" viewBox="0 0 512 512">
        <path d="m7 239c1-2 2-3 4-3l92-94c9-9 23-9 32 0 9 9 9 24 0 33l-79 81 80 81c9 9 9 24 0 33-5 5-11 7-17 7-5 0-11-2-16-7l-92-94c-2-1-3-2-4-3-5-5-7-11-7-17 0-6 2-13 7-17z"/>
    </symbol>

    <symbol id="utouch-icon-arrow-right" viewBox="0 0 512 512">
        <path d="m505 239c-1-2-2-3-4-3l-92-94c-9-9-23-9-32 0-9 9-9 24 0 33l79 81-79 81c-9 9-9 24 0 33 4 5 10 7 16 7 6 0 11-2 16-7l92-94c2-1 3-2 4-3 5-5 7-11 7-17 0-6-2-13-7-17z m-483-4l13 0c12 0 22 9 22 21 0 12-10 21-22 21l-13 0c-12 0-22-9-22-21 0-12 10-21 22-21z m113 0l71 0c12 0 21 9 21 21 0 12-9 21-21 21l-71 0c-11 0-21-9-21-21 0-12 10-21 21-21z m171 0l136 0c12 0 21 9 21 21 0 12-9 21-21 21l-136 0c-12 0-21-9-21-21 0-12 9-21 21-21z"/>
    </symbol>

    <symbol id="utouch-icon-arrow-right-1" viewBox="0 0 512 512">
        <path d="m22 235l13 0c12 0 22 9 22 21 0 12-10 21-22 21l-13 0c-12 0-22-9-22-21 0-12 10-21 22-21z m113 0l71 0c12 0 21 9 21 21 0 12-9 21-21 21l-71 0c-11 0-21-9-21-21 0-12 10-21 21-21z m171 0l136 0c12 0 21 9 21 21 0 12-9 21-21 21l-136 0c-12 0-21-9-21-21 0-12 9-21 21-21z"/>
    </symbol>

    <symbol id="utouch-icon-arrow-right1" viewBox="0 0 512 512">
        <path d="m505 239c-1-2-2-3-4-3l-92-94c-9-9-23-9-32 0-9 9-9 24 0 33l79 81-79 81c-9 9-9 24 0 33 4 5 10 7 16 7 6 0 11-2 16-7l92-94c2-1 3-2 4-3 5-5 7-11 7-17 0-6-2-13-7-17z"/>
    </symbol>

    <symbol id="utouch-icon-arrow-top" viewBox="0 0 512 512">
        <path d="m256 364c16 0 27 12 27 27l0 93c0 15-12 27-27 27-15 0-27-13-27-27l0-93c-1-15 11-27 27-27z m0-296c16 0 27 12 27 27l0 168c0 16-12 27-27 27-15 0-27-12-27-27l0-168c-1-15 11-27 27-27z m-22-60c-2 1-3 3-4 6l-121 119c-12 11-12 30 0 41 11 12 31 12 43 0l103-102 104 102c12 12 32 12 43 0 7-6 9-13 9-20 0-8-3-16-9-21l-121-119c-1-3-2-4-4-6-5-5-14-8-21-8-8 0-17 3-22 8z m0 0c-2 1-3 3-4 6l-121 119c-12 11-12 30 0 41 11 12 31 12 43 0l103-102 104 102c12 12 32 12 43 0 7-6 9-13 9-20 0-8-3-16-9-21l-121-119c-1-3-2-4-4-6-5-5-14-8-21-8-8 0-17 3-22 8z"/>
    </symbol>

    <symbol id="utouch-icon-box" viewBox="0 0 512 512">
        <path d="m260 203c-37 0-70 23-84 56-14-33-46-56-84-56-18 0-34 5-48 14l0-76c0-12-10-22-22-22-12 0-22 10-22 22l0 154c0 51 41 92 92 92 38 0 70-22 84-55 14 33 47 55 84 55 51 0 92-41 92-92 0-50-41-92-92-92z m-168 140c-27 0-48-21-48-48 0-26 21-48 48-48 26 0 48 22 48 48 0 27-22 48-48 48z m168 0c-26 0-47-21-47-48 0-26 21-48 47-48 27 0 48 22 48 48 0 27-21 48-48 48z m193-49l54-61c8-9 7-23-3-31-9-8-23-7-30 2l-50 57-50-57c-8-9-22-10-31-2-10 8-11 22-3 31l54 61-54 62c-8 9-7 23 3 31 4 4 9 6 14 6 6 0 12-3 17-8l50-57 50 57c4 5 10 8 16 8 5 0 10-2 14-6 10-8 11-22 3-31z"/>
    </symbol>

    <symbol id="utouch-icon-cup-1" viewBox="0 0 512 512">
        <path d="m256 365c-3 0-5-1-8-2l-105-66c-31-19-49-53-49-90l0-167c0-22 18-40 39-40l246 0c21 0 39 18 39 40l0 88c0 8-6 15-14 15-9 0-15-7-15-15l0-88c0-6-5-11-10-11l-246 0c-5 0-10 5-10 11l0 167c0 27 14 51 36 65l97 61 97-61c22-14 36-38 36-65 0-8 6-14 15-14 8 0 14 6 14 14 0 37-18 71-49 90l-105 66c-3 1-5 2-8 2z m-35-29l-43 38c-12 11-18 26-18 41l0 82 192 0 0-82c0-15-6-30-18-41l-43-38z m131 176l-192 0c-9 0-15-7-15-15l0-82c0-20 8-39 23-52l44-38c2-2 6-4 9-4l70 0c3 0 7 2 9 4l44 38c15 13 23 32 23 52l0 82c0 8-6 15-15 15z m-178-29l164 0 0-68c0-11-5-22-14-30l-39-34-58 0-39 34c-9 8-14 19-14 30l0 68z m47-147l-43 38c-12 11-18 26-18 41l0 82 192 0 0-82c0-15-6-30-18-41l-43-38z m131 176l-192 0c-9 0-15-7-15-15l0-82c0-20 8-39 23-52l44-38c2-2 6-4 9-4l70 0c3 0 7 2 9 4l44 38c15 13 23 32 23 52l0 82c0 8-6 15-15 15z m-178-29l164 0 0-68c0-11-5-22-14-30l-39-34-58 0-39 34c-9 8-14 19-14 30l0 68z m70-323l-6 5c-2 1-4 1-6 1-6 0-11-7-11-14 0-4 2-9 7-11l29-18c2-2 4-2 7-2 7 0 15 4 15 11l0 143c0 7-8 10-17 10-9 0-18-3-18-10l0-115z m159 352l-294 0c-8 0-15-7-15-15 0-8 7-14 15-14l294 0c8 0 15 6 15 14 0 8-7 15-15 15z m70-329c-5 0-9-2-12-6-5-6-4-16 2-21 7-5 11-13 11-21 0-16-13-28-28-28-15 0-28 12-28 28 0 8-6 14-14 14-9 0-15-6-15-14 0-32 26-58 57-58 32 0 57 26 57 58 0 17-8 34-21 44-3 3-6 4-9 4z m-434 0c-3 0-6-1-9-4-13-10-21-27-21-44 0-32 25-58 57-58 31 0 57 26 57 58 0 8-6 14-15 14-8 0-14-6-14-14 0-16-13-28-28-28-15 0-28 12-28 28 0 8 4 16 11 21 6 5 7 15 2 21-3 4-7 6-12 6z m365-106l0-37c0-14-12-25-25-25l-246 0c-13 0-25 11-25 25l0 37 296 0z m0 15l-296 0c-8 0-14-7-14-15l0-37c0-22 18-40 39-40l246 0c21 0 39 18 39 40l0 37c0 8-6 15-14 15z m-281-30l266 0 0-22c0-6-5-11-10-11l-246 0c-5 0-10 5-10 11z"/>
    </symbol>

    <symbol id="utouch-icon-correct-symbol-1" viewBox="0 0 512 512">
        <path d="m502 114l-45-45c-6-6-13-9-22-9-9 0-16 3-23 9l-216 217-97-98c-6-6-14-9-22-9-9 0-17 3-23 9l-45 45c-6 6-9 14-9 23 0 9 3 16 9 22l120 120 45 44c6 7 13 10 22 10 9 0 16-3 22-10l45-44 239-239c6-6 9-14 9-23 0-9-3-16-9-22z"/>
    </symbol>

    <symbol id="utouch-icon-copy" viewBox="0 0 512 512">
        <path d="m54 419l70 0 0 70c0 13 11 23 23 23l311 0c13 0 23-10 23-23l0-373c0-12-10-23-23-23l-70 0 0-70c0-13-11-23-23-23l-311 0c-13 0-23 10-23 23l0 373c0 12 10 23 23 23z m380 46l-263 0 0-325 263 0z m-356-418l263 0 0 46-194 0c-12 0-23 11-23 23l0 256-46 0z m162 139c-12 0-23 11-23 23 0 13 11 24 23 24l125 0c12 0 23-11 23-24 0-12-11-23-23-23z m125 93l-125 0c-12 0-23 11-23 24 0 12 11 23 23 23l125 0c12 0 23-11 23-23 0-13-11-24-23-24z m0 93l-125 0c-12 0-23 11-23 24 0 12 11 23 23 23l125 0c12 0 23-11 23-23 0-13-11-24-23-24z"/>
    </symbol>

    <symbol id="utouch-icon-search" viewBox="0 0 512 512">
        <path d="m411 203c-12-2-23 5-25 17-3 19-12 35-26 50-14 13-31 22-50 26-10 2-18 13-16 24 2 11 12 19 24 18 27-6 52-19 71-38 20-20 33-45 38-72 3-12-4-22-16-25z m-109-203c-116 0-210 94-210 209 0 32 7 61 19 88l-78 68c-56 58-25 109-9 124 14 15 66 48 124-10l69-78c26 11 54 18 85 18 115 0 209-94 209-210 0-115-94-209-209-209z m-185 452c-10 11-38 29-63 8-7-6-21-36 8-63l72-63c13 18 28 33 45 45z m185-77c-92 0-166-74-166-166 0-91 74-165 166-165 91 0 165 74 165 165 0 92-74 166-165 166z"/>
    </symbol>

    <symbol id="utouch-icon-zoom-increasing-button-outline" viewBox="0 0 512 512">
        <path d="m19 281c10 24 25 46 43 64 19 19 40 33 64 43 25 11 52 16 79 16 27 0 54-5 79-16 4-1 8-3 12-5l113 113c10 10 23 15 38 15 14 0 27-5 37-15l9-9c21-21 21-55 0-75l-111-112c3-6 6-12 9-19 11-25 16-51 16-79 0-27-5-53-16-78-10-24-25-46-43-64-19-19-40-34-64-44-25-10-52-16-79-16-27 0-54 6-79 16-24 10-45 25-64 44-18 18-33 40-43 64-11 25-16 51-16 78 0 28 5 54 16 79z m315 24c-9 12-20 22-32 31-11 8-22 14-34 19-19 8-41 12-63 12-91 0-165-74-165-165 0-91 74-165 165-165 91 0 165 74 165 165 0 25-6 49-16 71-5 11-12 22-20 32z m133 133c6 6 6 16 0 23l-9 9c-3 3-7 4-11 4-5 0-9-1-12-4l-107-108c7-5 14-11 20-17 4-4 8-9 12-14z m-20 74c-15 0-28-6-38-16l-113-113c-4 2-8 4-12 6-25 10-52 16-79 16-27 0-54-6-79-16-24-10-46-25-64-44-19-18-33-40-43-64-11-25-16-51-16-79 0-27 5-53 16-78 10-25 24-46 43-65 18-18 40-33 64-43 25-11 52-16 79-16 27 0 54 5 79 16 24 10 45 25 64 43 19 19 33 40 43 65 11 25 16 51 16 78 0 28-5 54-16 79-2 6-5 13-9 19l111 111c21 21 21 55 0 76l-9 9c-10 10-23 16-37 16z m-151-130l113 113c10 10 23 16 38 16 14 0 27-6 37-16l9-9c20-20 20-54 0-74l-112-112 0 0c4-6 7-13 10-19 10-25 15-51 15-79 0-27-5-53-15-78-11-24-25-46-44-64-18-19-40-33-64-43-24-11-51-16-78-16-27 0-54 5-78 16-24 10-46 24-64 43-19 18-33 40-44 64-10 25-15 51-15 78 0 28 5 54 15 79 11 24 25 45 44 64 18 18 40 33 64 43 24 10 51 16 78 16 27 0 54-6 78-16 4-2 9-4 13-6z m151 93c-5 0-9-2-12-5l-108-108 1 0c7-5 13-11 19-17 5-5 9-9 13-14l0 0 107 106c7 7 7 17 0 24l-9 9c-3 3-7 5-11 5z m-118-113l106 107c3 3 7 5 12 5 4 0 8-2 11-5l9-9c6-6 6-16 0-22l-107-106c-3 5-8 9-12 13-6 6-13 12-19 17z m-124 6c-91 0-165-74-165-166 0-91 74-165 165-165 91 0 165 74 165 165 0 25-5 49-15 71-6 11-13 22-21 32-9 12-20 22-32 31-11 8-22 14-34 19-20 8-41 13-63 13z m0-330c-91 0-164 74-164 164 0 91 73 165 164 165 22 0 43-4 63-13 12-5 23-11 33-18 12-9 23-20 33-31 8-10 14-21 20-33 10-22 15-45 15-70 0-90-73-164-164-164z m76 146l-58 0 0-58c0-10-8-18-18-18-10 0-19 8-19 18l0 58-57 0c-10 0-18 8-18 18 0 11 8 19 18 19l57 0 0 57c0 11 9 19 19 19 2 0 3 0 4-1 9-2 14-9 14-18l0-57 58 0c6 0 11-3 14-7 3-3 4-7 4-12 0-10-8-18-18-18z m-76 113c-10 0-19-8-19-19l0-57-57 0c-10 0-19-8-19-19 0-10 9-19 19-19l57 0 0-57c0-10 9-19 19-19 10 0 19 9 19 19l0 57 57 0c10 0 19 9 19 19 0 5-2 9-4 12-4 5-9 7-15 7l-57 0 0 57c0 9-6 17-14 19-2 0-3 0-5 0z m-76-113c-10 0-18 8-18 18 0 10 8 18 18 18l58 0 0 58c0 10 8 18 18 18 1 0 3 0 4 0 8-2 14-9 14-18l0-58 58 0c5 0 11-2 14-6 3-4 4-8 4-12 0-10-8-18-18-18l-58 0 0-58c0-10-8-18-18-18-10 0-18 8-18 18l0 58z"/>
    </symbol>

    <symbol id="utouch-icon-quotes" viewBox="0 0 512 512">
        <path d="m112 208c62 0 112 50 112 112 0 61-50 111-112 111-61 0-111-50-111-111l-1-16c0-124 100-224 224-224l0 64c-43 0-83 17-113 47-6 6-11 12-16 18 5-1 11-1 17-1z m288 0c61 0 112 50 112 112 0 61-51 111-112 111-62 0-112-50-112-111l-1-16c0-124 101-224 224-224l0 64c-43 0-83 17-113 47-6 6-11 12-16 18 6-1 12-1 18-1z"/>
    </symbol>

    <symbol id="utouch-icon-lnr-star" viewBox="0 0 512 512">
        <path d="m397 486c-2 0-4 0-6-1l-135-74-135 74c-4 2-9 2-13-1-4-3-6-8-5-13l24-147-98-97c-3-4-4-9-3-13 2-5 6-8 10-9l147-25 62-122c2-4 6-7 11-7 5 0 9 3 11 7l62 122 147 25c4 1 8 4 10 9 1 4 0 9-3 13l-98 97 24 147c1 5-1 10-5 13-2 2-5 2-7 2z m-141-102c2 0 4 1 6 2l118 64-21-128c-1-4 0-8 3-11l85-85-129-21c-4-1-8-4-9-7l-53-105-53 105c-1 3-5 6-9 7l-129 21 85 85c3 3 4 7 3 11l-21 128 118-64c2-1 4-2 6-2z"/>
    </symbol>

</svg>


<!-- ... end Used SVG-icons -->


<!-- jQuery first, then Other JS. -->

<script src="{% static 'webtweaker_assets/js/jquery-3.2.0.min.js' %}"></script>


<!-- jQuery-scripts for Template -->

<script src="{% static 'webtweaker_assets/js/crum-mega-menu.js' %}"></script>
<script src="{% static 'webtweaker_assets/js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'webtweaker_assets/js/theme-plugins.js' %}"></script>
<script src="{% static 'webtweaker_assets/js/jquery.typeahead.min.js' %}"></script>
<script src="{% static 'webtweaker_assets/js/velocity.min.js' %}"></script>
<script src="{% static 'webtweaker_assets/js/main.js' %}"></script>
<script src="{% static 'webtweaker_assets/js/form-actions.js' %}"></script>

{% block custom_js %}

{% endblock %}

</body>
</html>