{% extends "mainsite/base.html" %}
{% load static staticfiles %}
<title>{% block title %}Home{% endblock %}</title>
{% block description %}
    <meta name="description" content="Description">{% endblock %}
{% block content %}

    <div class="content-wrapper">

        <div class="crumina-module crumina-module-slider container-full-width">
            <div class="swiper-container main-slider navigation-center-both-sides" data-effect="fade">

                <!-- Additional required wrapper -->
                <div class="swiper-wrapper mt60 mb60">
                    <div class="swiper-slide thumb-left bg-3 main-slider-bg-light">

                        <div class="container table full-height">
                            <div class="row table-cell">
                                <div class="col-lg-6 col-sm-12 table-cell">

                                    <div class="slider-content align-both">

                                        <h2 class="slider-content-title" data-swiper-parallax="-100">Welcome to
                                            WebTweaker!</h2>

                                        <h6 class="slider-content-text" data-swiper-parallax="-200">Your Branding
                                            Partner Virtually, Physically & Continuously.
                                        </h6>

                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                            <a href="#pricing-plan" class="btn btn--green btn--with-shadow">
                                                Get Started Now
                                            </a>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6 col-sm-12 table-cell">
                                    <div class="slider-thumb" data-swiper-parallax="-300"
                                         data-swiper-parallax-duration="500">
                                        <img src="{% static 'webtweaker_assets/img/svg/steps/welcome_01_banner.svg' %}"
                                             alt="slider">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide thumb-left bg-3 main-slider-bg-light">

                        <div class="container table full-height">
                            <div class="row table-cell">
                                <div class="col-lg-6 col-sm-12 table-cell">

                                    <div class="slider-content align-both">

                                        <h2 class="slider-content-title" data-swiper-parallax="-100">Your branding
                                            partner</h2>

                                        <h6 class="slider-content-text" data-swiper-parallax="-200">Here We Brand &
                                            Promote Your Business on All Search Engines and Social Media.
                                        </h6>

                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                            <a href="#pricing-plan" class="btn btn--green btn--with-shadow">
                                                Get Started Now
                                            </a>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6 col-sm-12 table-cell">
                                    <div class="slider-thumb" data-swiper-parallax="-300"
                                         data-swiper-parallax-duration="500">
                                        <img src="{% static 'webtweaker_assets/img/svg/steps/social_media_02_banner.svg' %}"
                                             alt="slider">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide thumb-left bg-3 main-slider-bg-light">

                        <div class="container table full-height">
                            <div class="row table-cell">
                                <div class="col-lg-6 col-sm-12 table-cell">

                                    <div class="slider-content align-both">

                                        <h2 class="slider-content-title" data-swiper-parallax="-100">Tweak your
                                            business</h2>

                                        <h6 class="slider-content-text" data-swiper-parallax="-200">We customize &
                                            personalize your website to define your business.
                                        </h6>

                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                            <a href="#pricing-plan" class="btn btn--green btn--with-shadow">
                                                Get Started Now
                                            </a>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6 col-sm-12 table-cell">
                                    <div class="slider-thumb" data-swiper-parallax="-300"
                                         data-swiper-parallax-duration="500">
                                        <img src="{% static 'webtweaker_assets/img/svg/steps/website_customize_03_banner.svg' %}"
                                             alt="slider">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide thumb-left bg-3 main-slider-bg-light">

                        <div class="container table full-height">
                            <div class="row table-cell">
                                <div class="col-lg-6 col-sm-12 table-cell">

                                    <div class="slider-content align-both">

                                        <h2 class="slider-content-title" data-swiper-parallax="-100">Upkeep Your
                                            Business</h2>

                                        <h6 class="slider-content-text" data-swiper-parallax="-200">We will update
                                            features and make required changes regularly as your business demand!
                                        </h6>

                                        <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                            <a href="#pricing-plan" class="btn btn--green btn--with-shadow">
                                                Get Started Now
                                            </a>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6 col-sm-12 table-cell">
                                    <div class="slider-thumb" data-swiper-parallax="-300"
                                         data-swiper-parallax-duration="500">
                                        <img src="{% static 'webtweaker_assets/img/svg/steps/upkeep_business_04_banner.svg' %}"
                                             alt="slider">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Prev next buttons-->

                <div class="btn-prev with-bg">
                    <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
                        <use xlink:href="#utouch-icon-arrow-left-1"></use>
                    </svg>
                    <svg class="utouch-icon utouch-icon-arrow-left1">
                        <use xlink:href="#utouch-icon-arrow-left1"></use>
                    </svg>
                </div>

                <div class="btn-next with-bg">
                    <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
                        <use xlink:href="#utouch-icon-arrow-right-1"></use>
                    </svg>
                    <svg class="utouch-icon utouch-icon-arrow-right1">
                        <use xlink:href="#utouch-icon-arrow-right1"></use>
                    </svg>
                </div>

            </div>
        </div>


        <!-- Info Boxes -->
        <section class="medium-padding100" id="how">
            <div class="container">
                <div class="row">
                    <div class="row mb60">
                        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 align-center">
                            <div class="crumina-module crumina-heading">

                                <h2 class="heading-title">How We Work</h2>
                                <p class="info-box-text">
                                    WebTweaker recognizes your need to present your business in a unique way, and give
                                    you a custom branded solution to bring you more business. Your customers get the
                                    details they need in an engaging and interactive way. In short, we will take full
                                    care of your online business platform.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class=""
                                     src="{% static 'webtweaker_assets/img/svg/services/Identify_business_requirement_22.svg' %}"
                                     alt="smartphone">

                            </div>

                            <div class="info-box-content">
                                <a class="h5 info-box-title">Identify business requirement</a>
                                <p class="info-box-text">We'll setup a meeting regarding requirement analysis and set
                                    you up
                                    for a side-by-side comparison of our packages and show you how they work for our
                                    clients.
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class=""
                                     src="{% static 'webtweaker_assets/img/svg/services/design_development_22.svg' %}"
                                     alt="smartphone">

                            </div>

                            <div class="info-box-content">
                                <a class="h5 info-box-title">Design & Development</a>
                                <p class="info-box-text">Once you place your order, we’ll start building your
                                    professional
                                    website. We go through your business requirement and make it functional. As part of
                                    this
                                    process, our team will reach out to make sure you’re happy with your site.
                                </p>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class=""
                                     src="{% static 'webtweaker_assets/img/svg/services/branding_promoting22.svg' %}"
                                     alt="smartphone">
                            </div>

                            <div class="info-box-content">
                                <a class="h5 info-box-title">Branding & Promoting</a>
                                <p class="info-box-text">We’ll optimize and submit your website to the major Internet
                                    search
                                    engines, helping you position your website prominently and maximize your ability to
                                    attract potential customers.
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb60">
            <div class="container">
                <div class="row mb30">
                    <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 align-center">
                        <div class="crumina-module crumina-heading">

                            <h2 class="heading-title">Our Business Domain:</h2>
                            <p class="info-box-text">
                                Webtweaker is designed to facilitate and automate various businesses of various types by
                                introducing the business to the internet community. We have already developed a many
                                projects for a number of businesses and are looking to add more to the list! The
                                following
                                mentioned businesses act as potential clients that we can serve right away!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/auto_repair_shop.svg' %}"
                                     alt="auto_repair_shop">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds8.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <a href="{% url 'mainsite:portfolio_repair_shop' %}" class="info-box-title">Auto Repair Shop</a>

                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/barber_shop_salons.svg' %}"
                                     alt="barber_shop_salons">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds9.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">Barber Shop/salons</p>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/chiropractic.svg' %}"
                                     alt="chiropractic">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds10.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class="info-box-title">Chiropractic</p>

                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon" src="{% static 'webtweaker_assets/img/svg/icons/dental.svg' %}"
                                     alt="dental">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds8.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class="info-box-title">Dental</p>

                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/exterminator.svg' %}"
                                     alt="exterminator">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds9.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class="info-box-title">Exterminator</p>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon" src="{% static 'webtweaker_assets/img/svg/icons/HVAC.svg' %}"
                                     alt="HVAC">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds10.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">HVAC</p>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/mobile_phone_store.svg' %}"
                                     alt="mobile_phone_store">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds8.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">Mobile Phone Store</p>

                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/pet_store.svg' %}" alt="pet_store">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds9.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">Pet Store</p>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/real_state.svg' %}"
                                     alt="real_state">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds10.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">Real State</p>

                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/restaurant.svg' %}"
                                     alt="restaurant">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds8.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">Restaurant</p>

                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/veterinary.svg' %}"
                                     alt="veterinary">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds9.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">Veterinary</p>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-info-box info-box--standard-hover">

                            <div class="info-box-image">
                                <img class="utouch-icon"
                                     src="{% static 'webtweaker_assets/img/svg/icons/other_industries.svg' %}"
                                     alt="other_industries">
                                <img class="cloud" src="{% static 'webtweaker_assets/img/clouds10.png' %}" alt="cloud">
                            </div>

                            <div class="info-box-content">
                                <p class=" info-box-title">Other Industries</p>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="crumina-module crumina-module-slider bg-blue-lighteen background-contain bg-11 medium-padding100 underline"  id="services">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">Our Services</h6>
                            <h2 class="heading-title">Web & App Service:</h2>
                            <p class="heading-text">Our custom website will serve all your business needs with
                                Testimonial
                                page, Sales Page, Hiring Page, Image Hosting & Gallery Page, Customized
                                Slider, Banner for Web etc. We will also work with your personal requirements. Our Web &
                                App
                                service also covers.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/domain_hosting.svg' %}">
                                        <h6 class="info-box-title">Free Domain & Hosting</h6>
                                    </div>
                                    <p class="info-box-text">We will provide a personalized domain name for your
                                        business or a
                                        domain name that utilizes your location (price up to $12/M). With
                                        this, your potential and existing customers can find you online. We
                                        will also provide free hosting for your site.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/email.svg' %}">
                                        <h6 class="info-box-title">Free Email</h6>
                                    </div>
                                    <p class="info-box-text">We will provide up to 25 Free Domain based email for your
                                        business purpose. It will help you to send your offer to your
                                        potential & existing customers without any hassle.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/responsive.svg' %}">
                                        <h6 class="info-box-title">Mobile Friendly Design</h6>
                                    </div>
                                    <p class="info-box-text">More people than ever are now accessing websites from their
                                        cell
                                        phones and tablets. Our responsive custom designed static websites
                                        are designed to look great on a phone or tablet, ensuring that your
                                        customers can find you when they’re on the go – or stranded by a
                                        disabled vehicle.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/appointment.svg' %}">
                                        <h6 class="info-box-title">Appointment & Quote</h6>
                                    </div>
                                    <p class="info-box-text">We will provide the appointment and quote request forms to
                                        bring
                                        your customers query at your convenience. It will give your
                                        customers an easy way to schedule an appointment or request a
                                        price quote.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Review.svg' %}">
                                        <h6 class="info-box-title">Review</h6>
                                    </div>
                                    <p class="info-box-text">To increase your online business along with your
                                        reputation, we
                                        will provide you with a review platform. We’ve optimized this
                                        platform in such a way that it will be very easy for your customers
                                        to post great reviews about your business to the most commonly
                                        visited review sites. It will maximize your online visibility and drive
                                        a great sell.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Payment_Gateway.svg' %}">
                                        <h6 class="info-box-title">Payment Gateway</h6>
                                    </div>
                                    <p class="info-box-text">We have a very easy to use and interactive payment gateway
                                        for your
                                        business need. Your customers will not get into any kind of confusion
                                        regarding payment. It will be very satisfactory for your customer as
                                        well as for you.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Image_Hosting_Gallery.svg' %}">
                                        <h6 class="info-box-title">Image Hosting & Gallery</h6>
                                    </div>
                                    <p class="info-box-text">You can display images of your shop, team members, or of a
                                        service, or even your shop’s latest community events with our
                                        interactive photo gallery. It is another way of MazeGeek to provide
                                        website customization for its customers.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Mobile_App.svg' %}">
                                        <h6 class="info-box-title">Mobile App</h6>
                                    </div>
                                    <p class="info-box-text">We will build you an interactive app for your valued
                                        customers to get
                                        yours service easily. By using an Android or iPhone, anyone can order
                                        a service from you at their convenience. It is a great way to serve the
                                        customers in modern time. We will also provide update and maintenance
                                        of your business app, no cost included for that.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row pt80">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">Our Services</h6>
                            <h2 class="heading-title">Content/Data Management:</h2>
                            <p class="heading-text">Web content, images & business data is the main factor which will
                                make your business website a unique one. We will provide all of that to make your
                                business successful.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Blog.svg' %}">
                                        <h6 class="info-box-title">Blog</h6>
                                    </div>
                                    <p class="info-box-text">Blogs are a great way to share news about your services. We
                                        will
                                        publish blogs about your business on different authority
                                        platforms to let people know about you. If you want your own blog
                                        section to serve your customers with some tips, share your story
                                        or review of some services; we will happily provide that to you.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Web_Content.svg' %}">
                                        <h6 class="info-box-title">Web Content</h6>
                                    </div>
                                    <p class="info-box-text">WebTweaker will provide all necessary web contents for your
                                        business website. Everything we put into your website will support
                                        your brand's message. If you need more than that like something
                                        unique about your business to share; our custom pages will spotlight
                                        on that.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Catalog_Data.svg' %}">
                                        <h6 class="info-box-title">Catalog & Data</h6>
                                    </div>
                                    <p class="info-box-text">Your customers need to know what services you are offering.
                                        Our
                                        fully customizable service catalog related to your business will
                                        make it very easy for your customers. Just tell us what services
                                        you offer, and we'll show it in a fashionable way to your valued
                                        customers.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Custom_Images.svg' %}">
                                        <h6 class="info-box-title">Custom Images</h6>
                                    </div>
                                    <p class="info-box-text">We will create your service related image, infographic,
                                        slider, banner
                                        etc. for your site. We will also share those in different platforms to let
                                        people know about your services and create a buzz. It will help to
                                        make your website talk of the topic in various web medium.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row pt80">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">Our Services</h6>
                            <h2 class="heading-title">Digital Marketing Service :</h2>
                            <p class="heading-text">Making your business site visible to everyone in the first page of
                                the Search Engine is a critical & tiresome job. We will relieve you from that job.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/SEO.svg' %}">
                                        <h6 class="info-box-title">SEO</h6>
                                    </div>
                                    <p class="info-box-text">Your websites will be optimized by our SEO experts for
                                        great search
                                        results. When people will search related to your services, you’ll be
                                        among the first they see. We will also set up your Google My Business
                                        account to get you more visitors to your site.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/SMM.svg' %}">
                                        <h6 class="info-box-title">SMM</h6>
                                    </div>
                                    <p class="info-box-text">Nowadays Social Media can create a bulk community for your
                                        services. Our Social Media Marketing (SMM) experts will create
                                        your business page in various social media to drive new customers
                                        and help your business to become a brand.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Store_Locator.svg' %}">
                                        <h6 class="info-box-title">Store Locator</h6>
                                    </div>
                                    <p class="info-box-text">We will create a store locator for your business location.
                                        It will help
                                        your local customers as well as others to find the shop position easily.
                                        The MazeGeek dealer locator with a dedicated page will also help to
                                        find your location fast. From there people will know about your
                                        services and become a new customer.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Google_Map_Analytics.svg' %}">
                                        <h6 class="info-box-title">Google Map & Analytics</h6>
                                    </div>
                                    <p class="info-box-text">We will put your business location on Google map to let the
                                        searchers know about your exact position fast. It will drive new
                                        customers to your business. We will also provide you a monthly
                                        analytics of your business with directions to maintain the online
                                        presence of your business with success.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row pt80">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">Our Services</h6>
                            <h2 class="heading-title">Consulting & Support Service :</h2>
                            <p class="heading-text">Our custom website will serve all your business needs with
                                Testimonial
                                page, Sales Page, Hiring Page, Image Hosting & Gallery Page, Customized
                                Slider, Banner for Web etc. We will also work with your personal requirements. Our Web &
                                App
                                service also covers.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Customer_Support.svg' %}">
                                        <h6 class="info-box-title">Customer Support</h6>
                                    </div>
                                    <p class="info-box-text">Our customer managers are working 24/7 to give you any kind
                                        of
                                        support for your business via email or phone call.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Account_Manager.svg' %}">
                                        <h6 class="info-box-title">Account Manager</h6>
                                    </div>
                                    <p class="info-box-text">If you want, we will give you a Dedicated Account Manager
                                        for
                                        your business. This is the most advanced service available to help
                                        you keep track of your leads collected online.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="crumina-module crumina-info-box info-box--standard">
                                    <div class="info-box-image display-flex">
                                        <img class="utouch-icon utouch-icon-checked"
                                             src="{% static 'webtweaker_assets/img/svg/services/Training.svg' %}">
                                        <h6 class="info-box-title">Training</h6>
                                    </div>
                                    <p class="info-box-text">We will provide occasional training to let you know about
                                        the latest
                                        automotive services, using your app, analytics etc
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>

        <!-- ... end Block IMG-bottom -->


        <section class="medium-padding120 crumina-pricings" id="pricing-plan">
            <div class="container">
                <div class="row mb60">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 align-center">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">Our Pricing Plans</h6>
                            <h2 class="heading-title">Choose the product that you really need!</h2>
                            <abbr title="For Yearly plan, you can save your wallet! ">* For Yearly plan, you can
                                save,<span class="c-orange-light">$189 </span> in
                                Basic; <span class="c-orange-light">$389 </span> in Premium; <span
                                        class="c-orange-light">$589 </span>
                                in Business & <span class="c-orange-light">$789 </span> in Enterprise.</abbr><br>

                        </div>
                        <label class="tgl">
                            <input type="checkbox" checked/>
                            <span class="js-pricing-switcher" data-on="Monthly" data-off="Annually"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="pricing-tables-wrap bg-light">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding" data-mh="pricing-item">
                            <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-solid bg-light">
                                <div class="bg-layer full-block"></div>
                                <div class="main-pricing-content">
                                    <h5 class="pricing-title c-lime">Basic</h5>
                                    <h2 class="h1 rate">$<span id="basic" class="price" data-annually="999"
                                                               data-monthly="99">99</span></h2>
                                    <ul class="pricing-tables-position mt30">
                                        <li class="position-item c-border">
                                            Delivery: 2 Business Days*
                                        </li>
                                        <li class="position-item c-border">
                                            No Contract, Cancel Anytime
                                        </li>
                                    </ul>
                                </div>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'mainsite:payment' %}" class="btn btn--lime btn--with-shadow basic">
                                        Subscribe Now!
                                    </a>
                                {% else %}
                                    <a href="{% url 'mainsite:subscribe-redirect' %}"
                                       class="btn btn--lime btn--with-shadow basic">
                                        Subscribe Now!
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding" data-mh="pricing-item">
                            <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-solid bg-light">
                                <div class="bg-layer full-block"></div>
                                <div class="main-pricing-content">
                                    <h5 class="pricing-title c-primary">Premium</h5>
                                    <h2 class="h1 rate">$<span id="premium" class="price" data-annually="1999"
                                                               data-monthly="199">199</span></h2>
                                    <ul class="pricing-tables-position mt30">
                                        <li class="position-item c-border">
                                            Delivery: 7 Business Days*
                                        </li>
                                        <li class="position-item c-border">
                                            No Contract, Cancel Anytime
                                        </li>

                                    </ul>
                                </div>

                                {% if user.is_authenticated %}
                                    <a href="{% url 'mainsite:payment' %}"
                                       class="btn btn--primary btn--with-shadow premium">
                                        Subscribe Now!
                                    </a>
                                {% else %}
                                    <a href="{% url 'mainsite:subscribe-redirect' %}"
                                       class="btn btn--primary btn--with-shadow premium">
                                        Subscribe Now!
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding" data-mh="pricing-item">
                            <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-solid bg-light">
                                <div class="bg-layer full-block"></div>
                                <div class="main-pricing-content">
                                    <h5 class="pricing-title c-orange-light">Business</h5>
                                    <h2 class="h1 rate ">$<span id="business" class="price" data-annually="2999"
                                                                data-monthly="299">299</span></h2>
                                    <!--<h6 class="period">Per Month</h6>-->
                                    <ul class="pricing-tables-position mt30">
                                        <li class="position-item c-border">
                                            Delivery: 14 Business Days*
                                        </li>
                                        <li class="position-item c-border">
                                            No Contract, Cancel Anytime
                                        </li>
                                    </ul>
                                </div>

                                {% if user.is_authenticated %}
                                    <a href="{% url 'mainsite:payment' %}"
                                       class="btn btn--orange-light btn--with-shadow business">
                                        Subscribe Now!
                                    </a>
                                {% else %}
                                    <a href="{% url 'mainsite:subscribe-redirect' %}"
                                       class="btn btn--orange-light btn--with-shadow business">
                                        Subscribe Now!
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 no-padding" data-mh="pricing-item">
                            <div class="crumina-module crumina-pricing-tables-item pricing-tables-item-solid bg-light">
                                <div class="bg-layer full-block"></div>
                                <div class="main-pricing-content">
                                    <h5 class="pricing-title c-red">Enterprise</h5>
                                    <h2 class="h1 rate">$<span id="enterprise" class="price" data-annually="3999"
                                                               data-monthly="399">399</span></h2>
                                    <ul class="pricing-tables-position mt30">
                                        <li class="position-item c-border">
                                            Delivery: 22 Business Days*
                                        </li>
                                        <li class="position-item c-border">
                                            No Contract, Cancel Anytime
                                        </li>
                                    </ul>
                                </div>

                                {% if user.is_authenticated %}
                                    <a href="{% url 'mainsite:payment' %}"
                                       class="btn btn--red btn--with-shadow enterprise">
                                        Subscribe Now!
                                    </a>
                                {% else %}
                                    <a href="{% url 'mainsite:subscribe-redirect' %}"
                                       class="btn btn--red btn--with-shadow enterprise">
                                        Subscribe Now!
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 no-padding mt60">
                        <section class="section text-center ">

                            <!--Section heading-->
                            <!--<h2 class="my-5 h3">Comparison</h2>-->

                            <style>
                                /*.thead-inverse th {*/
                                /*background-color: #59698d !important;*/
                                /*}*/

                                .fa-times {
                                    color: red;
                                }

                                .fa-check {
                                    color: #0bd954;
                                }

                                .table td,
                                .table th {
                                    padding: .6rem;
                                }
                            </style>
                            <div class="table-responsive">
                                <table class="table table-hover text-center ">
                                    <thead class="thead-inverse text-white">
                                    <tr>
                                        <th class="text-center">Services Covered</th>
                                        <th class="text-center">Basic</th>
                                        <th class="text-center">Premium</th>
                                        <th class="text-center">Business</th>
                                        <th class="text-center">Enterprise</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Domain Name & Hosting*</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Up to 25 Free Domain based Email</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Friendly Web Design</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Store Locator & Google Map Listing</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Basic SEO</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Web Content</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>24/7 Customer Support via
                                            Email/Phone Call
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dynamic Website with Admin Panel</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dedicated Account Manager</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Appointment and Quote Service</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Catalog & Data</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Training for Your Business</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Analytics Report with Advanced SEO</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Testimonial Page for Customers
                                            Reviews
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Image Hosting & Gallery Page</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Customized Slider, Banner for Web</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Social Media Marketing</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Payment Gateway</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Order & Product Management</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Custom Image & Infographic</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Service Related Blogs</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mobile App (Android & iOS)</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </section>
    </div>

{% endblock %}
{% block custom_js %}
    <script>

        $('.basic').click(function () {
            sessionStorage.package = "Basic";
            sessionStorage.amount = $('#basic').text();
        });
        $('.premium').click(function () {
            sessionStorage.package = "Premium";
            sessionStorage.amount = $('#premium').text();
        });
        $('.business').click(function () {
            sessionStorage.package = "Business";
            sessionStorage.amount = $('#business').text();
        });
        $('.enterprise').click(function () {
            sessionStorage.package = "Enterprise";
            sessionStorage.amount = $('#enterprise').text();
        });

    </script>
{% endblock %}