{% extends "src/base.html" %}
{% load static staticfiles %}
<title>{% block title %}Login{% endblock %}</title>
 {% block description %} <meta name="description" content="Description">{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="medium-padding100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 ">
                    <div class="crumina-module crumina-heading">

                        <h6 class="heading-title align-center">Login to WebTweaker</h6>
                        <p class="info-box-text" style="display: none">
                            WebTweaker recognizes your need to present your business in a unique way, and give you a custom branded solution to bring you more business. Your customers get the details they need in an engaging and interactive way. In short, we will take full care of your online business platform.
                        </p>
                        <form class="contact-form" method="post" action="" style="margin-bottom: 75px">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                            <input name="name" placeholder="Your Name" type="text">


                                            <input name="Password" placeholder="Password" type="password">

                                    <button class="btn btn--green btn--with-shadow full-width">
                                        Login Now
                                    </button>

                                </div>



                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}