{% extends "mainsite/base.html" %}
{% load static staticfiles %}
<title>{% block title %}Payment{% endblock %}</title>
{% block description %}
    <meta name="description" content="Description">{% endblock %}
{% block content %}

    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static "webtweaker_assets/js/index.js" data-rel-js %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'webtweaker_assets/css/example5.css' %}" data-rel-css=""/>
    <link rel="stylesheet" type="text/css" href="{% static 'webtweaker_assets/css/base.css' %}" data-rel-css=""/>
    <link rel="stylesheet" type="text/css" href="{% static 'webtweaker_assets/css/example5.css' %}" data-rel-css=""/>
    <style>
        .field input {
            box-shadow: none;
        }

        /*.row:before, row:after {*/
        /*content: none;*/
        /**/
        /*}*/
    </style>

    <div class="content-wrapper">
        <!-- Block IMG-bottom -->
        <div class="crumina-stunning-header stunning-header--content-center stunning-header--min360 stunning-bg-1 stunning-header--bg-photo align-center custom-color c-white">
            <div class="container">
                <div class="stunning-header-content">
                    <h5 class="c-primary">WebTweaker Payement </h5>
                    <h3 class="stunning-header-title">A convenient way to complete your payment without hastle.</h3>

                    <div class="breadcrumbs-wrap inline-items">
                        <a href="index.html" class="btn btn--primary btn--round">
                            <svg class="utouch-icon utouch-icon-home-icon-silhouette">
                                <use xlink:href="#utouch-icon-home-icon-silhouette"></use>
                            </svg>
                        </a>

                        <ul class="breadcrumbs breadcrumbs--bordered">
                            <li class="breadcrumbs-item">
                                <a href="#" class="breadcrumbs-custom">Selected Plan</a>
                                <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                                    <use xlink:href="#utouch-icon-media-play-symbol"></use>
                                </svg>
                            </li>
                            <li class="breadcrumbs-item active">
                                <span class="breadcrumbs-custom" id="package"></span>
                                <svg class="utouch-icon utouch-icon-media-play-symbol breadcrumbs-custom">
                                    <use xlink:href="#utouch-icon-media-play-symbol"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="overlay-standard overlay--dark"></div>
        </div>
        <section class="background-contain bg-15 bg-blue-lighteen" style="display">
            <div class="container">
                <div class="row">
                    <div class="crumina-module crumina-module-img-bottom">

                        <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
                            <div class="globalContent">
                                <main>

                                    <section class="container-lg" id="test">

                                        <!--Example 5-->
                                        <div class="cell example example5">
                                            <form id="payment" method="post">
                                                {% csrf_token %}
                                                <div id="example5-paymentRequest">
                                                    <!--Stripe paymentRequestButton Element inserted here-->
                                                </div>
                                                <fieldset>
                                                    <legend class="card-only"
                                                            data-tid="elements_examples.form.pay_with_card">Pay with
                                                        card
                                                    </legend>
                                                    <legend class="payment-request-available"
                                                            data-tid="elements_examples.form.enter_card_manually">Or
                                                        enter card details
                                                    </legend>
                                                    <div class="rows">
                                                        <div class="field">
                                                            <label for="example5-name"
                                                                   data-tid="elements_examples.form.name_label">Name</label>
                                                            <input id="example5-name"
                                                                   name="name"
                                                                   data-tid="elements_examples.form.name_placeholder"
                                                                   class="input" type="text" placeholder="Jane Doe"
                                                                   required="" autocomplete="name">
                                                        </div>
                                                    </div>
                                                    <div data-locale-reversible>
                                                        <div class="rows">
                                                            <div class="field">
                                                                <label for="example5-address"
                                                                       data-tid="elements_examples.form.address_label">Address</label>
                                                                <input id="example5-address"
                                                                       data-tid="elements_examples.form.address_placeholder"
                                                                       class="input" type="text"
                                                                       placeholder="185 Berry St" required=""
                                                                       autocomplete="address-line1">
                                                            </div>
                                                        </div>
                                                        <div class="rows" data-locale-reversible>
                                                            <div class="field">
                                                                <label for="example5-city"
                                                                       data-tid="elements_examples.form.city_label">City</label>
                                                                <input id="example5-city"
                                                                       data-tid="elements_examples.form.city_placeholder"
                                                                       class="input" type="text"
                                                                       placeholder="San Francisco" required=""
                                                                       autocomplete="address-level2">
                                                            </div>
                                                            <div class="field">
                                                                <label for="example5-state"
                                                                       data-tid="elements_examples.form.state_label">State</label>
                                                                <input id="example5-state"
                                                                       data-tid="elements_examples.form.state_placeholder"
                                                                       class="input empty" type="text" placeholder="CA"
                                                                       required="" autocomplete="address-level1">
                                                            </div>
                                                            <input type="hidden" value="99" name="amount">
                                                        </div>
                                                    </div>
                                                    <div class="rows">
                                                        <div class="field">
                                                            <label for="example5-card"
                                                                   data-tid="elements_examples.form.card_label">Card</label>
                                                            <div id="card-element" class="input"></div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" data-tid="elements_examples.form.pay_button">
                                                        Pay <span id="amount"></span>
                                                    </button>
                                                </fieldset>
                                                <div class="error" role="alert">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                         viewBox="0 0 17 17">
                                                        <path class="base" fill="#000"
                                                              d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                                                        <path class="glyph" fill="#FFF"
                                                              d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
                                                    </svg>
                                                    <span class="message"></span></div>
                                            </form>
                                            <div class="success">
                                                <div class="icon">
                                                    <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <circle class="border" cx="42" cy="42" r="40"
                                                                stroke-linecap="round" stroke-width="4" stroke="#000"
                                                                fill="none"></circle>
                                                        <path class="checkmark" stroke-linecap="round"
                                                              stroke-linejoin="round"
                                                              d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338"
                                                              stroke-width="4" stroke="#000" fill="none"></path>
                                                    </svg>
                                                </div>
                                                <h3 class="title" data-tid="elements_examples.success.title">Payment
                                                    successful</h3>
                                                <p class="message"><span data-tid="elements_examples.success.message">Thanks for trying Stripe Elements. No money was charged, but we generated a token: </span><span
                                                        class="token">tok_189gMN2eZvKYlo2CwTBv9KKh</span></p>
                                                <a class="reset" href="#">
                                                    <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <path fill="#000000"
                                                              d="M15,7.05492878 C10.5000495,7.55237307 7,11.3674463 7,16 C7,20.9705627 11.0294373,25 16,25 C20.9705627,25 25,20.9705627 25,16 C25,15.3627484 24.4834055,14.8461538 23.8461538,14.8461538 C23.2089022,14.8461538 22.6923077,15.3627484 22.6923077,16 C22.6923077,19.6960595 19.6960595,22.6923077 16,22.6923077 C12.3039405,22.6923077 9.30769231,19.6960595 9.30769231,16 C9.30769231,12.3039405 12.3039405,9.30769231 16,9.30769231 L16,12.0841673 C16,12.1800431 16.0275652,12.2738974 16.0794108,12.354546 C16.2287368,12.5868311 16.5380938,12.6540826 16.7703788,12.5047565 L22.3457501,8.92058924 L22.3457501,8.92058924 C22.4060014,8.88185624 22.4572275,8.83063012 22.4959605,8.7703788 C22.6452866,8.53809377 22.5780351,8.22873685 22.3457501,8.07941076 L22.3457501,8.07941076 L16.7703788,4.49524351 C16.6897301,4.44339794 16.5958758,4.41583275 16.5,4.41583275 C16.2238576,4.41583275 16,4.63969037 16,4.91583275 L16,7 L15,7 L15,7.05492878 Z M16,32 C7.163444,32 0,24.836556 0,16 C0,7.163444 7.163444,0 16,0 C24.836556,0 32,7.163444 32,16 C32,24.836556 24.836556,32 16,32 Z"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>

                                    </section>

                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        $('#package').text(sessionStorage.package);

        var stripe = Stripe('pk_test_IQBBsir0hnNRYXepmf7nvSRc');
        var elements = stripe.elements();

        var style = {
            base: {
                iconColor: "#fff",
                color: "#fff",
                fontWeight: 400,
                fontFamily: "Helvetica Neue, Helvetica, Arial, sans-serif",
                fontSize: "16px",
                fontSmoothing: "antialiased",
                "::placeholder": {
                    color: "#BFAEF6"
                },
                ":-webkit-autofill": {
                    color: "#fce883"
                }
            },
            invalid: {
                iconColor: "#FFC7EE",
                color: "#FFC7EE"
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {
            style: style
        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Create a source or display an error when the form is submitted.
        var form = document.getElementById('payment');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createSource(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the source to your server
                    stripeSourceHandler(result.source);
                }
            });
        });

        function stripeSourceHandler(source) {
            // Insert the source ID into the form so it gets submitted to the server
            var form = document.getElementById('payment');
            var hiddenInput = document.createElement('input');
            var hiddenAmount = document.createElement('input');

            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeSource');
            hiddenInput.setAttribute('value', source.id);
            form.appendChild(hiddenInput);

            hiddenAmount.setAttribute('type', 'hidden');
            hiddenAmount.setAttribute('name', 'amt');
            hiddenAmount.setAttribute('value', '{{ order_total.incl_tax|safe }}');
            form.appendChild(hiddenAmount);

            // Submit the form
            {#form.submit();#}
            $.ajax({
                url:{% url 'mainsite:payment_stripe' %},
                type: 'post',
                data: {package:sessionStorage.package,amount: sessionStorage.amount, name:$('#example5-name').val(),address:$('#example5-address').val(),city:$('#example5-city').val(),state:$('#example5-state').val(), token: source.id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (response) {
                    var example = document.querySelector(".example5");
                    example.querySelector(".token").innerText = source.id;
                    example.classList.add("submitted");
                    {#source.complete("success");#}
                    $('#test').append('<a href="{% url 'admin_site:dashboard' %}" class="alert alert-success" role="alert">You are successfully subscribed to Webtweaker. Click here to visit your admin panel</a>');
                },
                error:function(data){
                    var error_message = data.responseText.split(":")[1].split("\n")[0];
                    $('#test').append('<div class="alert alert-error" role="alert">'+error_message+'</div>');
                }
            });
        }
        $('#amount').text(sessionStorage.amount);
    </script>
{% endblock %}
