{% extends "src/base.html" %}
{% load static staticfiles %}
<title>{% block title %}Registration{% endblock %}</title>
{% block description %} <meta name="description" content="Description">{% endblock %}
{% block content %}

    <div class="content-wrapper">
    <section class="medium-padding80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 ">
                    <div class="crumina-module crumina-heading">
                        <h5 class="heading-title align-center">Register to WebTweaker</h5>
                        <p class="info-box-text" style="display: none">
                            WebTweaker recognizes your need to present your business in a unique way, and give you a custom branded solution to bring you more business. Your customers get the details they need in an engaging and interactive way. In short, we will take full care of your online business platform.
                        </p>
                        <form class="contact-form"  action="" style="margin-bottom: 75px">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="name" placeholder="Your Name" type="text">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="email" placeholder="Your Email" type="email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="name" placeholder="Your Address" type="text">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="zip" placeholder="Your zip code" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="Password" placeholder="Password" type="password">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="Password" placeholder="Confirm Password" type="password">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <select>
                                                <option data-display="Business Domain">Business Domain</option>
                                                <option value="1">Auto Repair Shop</option>
                                                <option value="2">Barber Shop/salons</option>
                                                <option value="3">Chiropractic</option>
                                                <option value="1">Dental</option>
                                                <option value="2">Exterminator</option>
                                                <option value="3">HVAC</option>
                                                <option value="1">Mobile Phone Store</option>
                                                <option value="2">Pet Store</option>
                                                <option value="3">Real State</option>
                                                <option value="1">Restaurant</option>
                                                <option value="2">Veterinary</option>
                                                <option value="3">Other Industries</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="phone" placeholder="Phone" type="text">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea name="message" class="" placeholder="Tell us about your business...." style="height: 200px;"></textarea>
                                    <button class="btn btn--green btn--with-shadow full-width">
                                        Register Now!
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}