{% extends "admin_site/base.html" %}
{% load staticfiles static widget_tweaks %}

{% block container %}
    <style>
        .msg {

            background: #fefefe;

            color: #000;

            font-weight: bold;

            font-size: small;

            padding: 12px;

            padding-left: 16px;

            border-top: solid 3px #CCCCCC;

            border-radius: 5px;

            margin-bottom: 10px;

            -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .08);

            -moz-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .08);

            box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .08);

        }

        .msg-clear {

            border-color: #fefefe;

            -webkit-box-shadow: 0 7px 10px -5px rgba(0, 0, 0, .15);

            -moz-box-shadow: 0 7px 10px -5px rgba(0, 0, 0, .15);

            box-shadow: 0 7px 10px -5px rgba(0, 0, 0, .15);

        }

        .msg-info {
            border-color: #3cb39ba6;
        }

        .msg-info-text {
            color: #000;
        }
    </style>
        <div class="btn-group btn-group-lg mb-2" role="group" aria-label="Basic example">
        <a href="{% url 'notifications:all' %}" type="button" class="btn btn-info btn-sm">All</a>
        <a href="{% url 'notifications:unread' %}" type="button" class="btn btn-info btn-sm">Unreads</a>
    </div>
</div>
    {% for notice in notifications %}
        {% include 'notifications/notice.html' %}
    {% endfor %}

{% endblock %}