{% extends "admin_site/base.html" %}
{% load static static widget_tweaks %}
{% block container %}


            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.subject %}<strong>{{ message.subject }}</strong><br/>{% endif %}
                    {{ message.message }}<br/>
                    {% if message.is_persistent %}<a href="{% url message_mark_read message.pk %}">close</a>{% endif %}
                </li>
            {% endfor %}

{% endblock %}