{% extends "admin_site/client_base.html" %}
{% load static staticfiles widget_tweaks%}
{% block title %}Users List{% endblock %}
{% block container %}
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-6 mb-4">
            <!--Card-->
            <div class="card card-cascade narrower">
                <!--Card content-->
                <div class="view view-cascade gradient-card-header mdb-color lighten-3">
                        <h5 class="mb-0 font-weight-bold">Edit Account</h5>
                </div>
                <div class="card-body card-cascade text-center">
                    <!-- Register form -->
                    <form method="post">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% for field in form.visible_fields %}
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    <div class="md-form has-error">
                                        {% render_field field class="form-control" %}
                                        {{ field.label_tag }}
                                        {% for error in field.errors %}
                                            <span class="text-danger help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="md-form">
                                        {% render_field field class="form-control" %}
                                        {{ field.label_tag }}
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="md-form">
                                    {% render_field field class="form-control" %}
                                    {{ field.label_tag }}
                                </div>
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        {% endfor %}
                        {% if redirect_field_value %}
                            <div class="row">
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            </div><!--end .row -->
                        {% endif %}
                        <div class="text-center mt-4">
                            <input type="submit" class="btn btn-primary waves-effect waves-light" value="Update Account">
                        </div><!--end .col -->
                    </form>
                    <!-- Register form -->
                    <div class="row m-4">
                        <p class="text-muted m-0"><small>If you want to change your password, Please <a href="{% url 'account_change_password' %}">click here</a></small></p>
                        <hr>
                        <p class="text-muted m-0"><small>If you want to change your email, Please <a href="{% url 'account_email' %}">click here</a></small></p>
                    </div>

                </div>

            </div>
            <!--/.Card-->

        </div>
    </div>
{% endblock %}